In [50]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json

import shapely
from shapely.geometry import mapping
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set your gtfs_tk path here
gtfs_tk_dir = '../../gtfs-tk/'
sys.path.append(gtfs_tk_dir)
import gtfs_tk.feed as gf
import gtfs_tk.utils as gu

%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [51]:
#feed = gf.Feed(gtfs_tk_dir + 'data/portland_gtfs.zip', original_units='ft')
feed = gf.Feed(gtfs_tk_dir + 'data/cairns_gtfs.zip')

# Set study date
date = feed.get_dates()[0]

In [52]:
trips_stats = feed.get_trips_stats()

In [53]:
f = gu.time_it(feed.get_routes_stats)(trips_stats, date, split_directions=True)
f

Timing get_routes_stats
2015-03-27 12:45:06.149559 Began process
2015-03-27 12:45:24.872588 Finished in 0.30 min

,route_id,is_bidirectional,direction_id,num_trips,is_loop,start_time,end_time,max_headway,mean_headway,peak_num_trips,peak_start_time,peak_end_time,service_distance,service_duration,service_speed,mean_trip_distance,mean_trip_duration
0,110-423,1,0,30,0,05:50:00,23:05:00,35,29.909091,3,18:13:00,18:20:00,975.213639,29.916667,32.597670,32.507121,0.997222
1,110-423,1,1,29,0,07:10:00,24:02:00,30,30.000000,2,07:40:00,08:08:00,919.009424,27.433333,33.499736,31.689980,0.945977
2,111-423,1,0,29,0,06:02:00,23:35:00,67,32.000000,3,07:57:00,08:05:00,1005.368216,30.366667,33.107625,34.667870,1.047126
3,111-423,1,1,29,0,07:25:00,24:36:00,30,30.000000,3,08:25:00,08:26:00,997.309407,28.983333,34.409755,34.389980,0.999425
4,112-423,0,0,15,1,07:55:00,22:31:00,60,60.000000,1,07:55:00,08:31:00,317.421880,9.000000,35.269098,21.161459,0.600000
5,113-423,1,0,3,0,06:05:00,08:10:00,NaN,NaN,2,06:35:00,06:45:00,74.298371,2.083333,35.663218,24.766124,0.694444
6,113-423,1,1,3,0,16:05:00,18:42:00,60,60.000000,1,18:05:00,18:42:00,73.303194,1.850000,39.623348,24.434398,0.616667
7,120-423,1,0,17,0,05:34:00,22:23:00,60,60.000000,1,07:34:00,08:23:00,470.550755,13.883333,33.893212,27.679456,0.816667
8,120-423,1,1,15,0,07:00:00,21:51:00,60,60.000000,1,08:00:00,08:51:00,428.504391,12.750000,33.608188,28.566959,0.850000
9,120N-423,0,1,2,0,22:00:00,23:51:00,NaN,NaN,1,22:00:00,22:51:00,81.004241,1.700000,47.649553,40.502120,0.850000
10,121-423,1,0,17,0,06:46:00,20:48:00,60,50.769231,2,07:16:00,07:18:00,285.795933,9.066667,31.521610,16.811525,0.533333
11,121-423,1,1,17,0,06:28:00,22:00:00,60,55.000000,2,16:58:00,17:00:00,300.263053,9.066667,33.117249,17.662533,0.533333
12,122-423,1,0,16,0,07:02:00,21:30:00,60,55.000000,1,08:02:00,08:30:00,253.731365,7.466667,33.981879,15.858210,0.466667
13,122-423,1,1,17,0,06:16:00,20:14:00,60,53.076923,1,07:46:00,08:14:00,288.144018,7.933333,36.320674,16.949648,0.466667
14,123-423,1,0,30,0,06:14:00,22:50:00,50,29.130435,2,18:33:00,18:53:00,589.881282,20.350000,28.986795,19.662709,0.678333
15,123-423,1,1,30,0,06:40:00,24:15:00,30,30.000000,2,07:10:00,07:31:00,537.988296,20.116667,26.743412,17.932943,0.670556
16,130-423,1,0,16,0,06:04:00,21:35:00,60,60.000000,1,08:04:00,08:35:00,174.739915,8.266667,21.137893,10.921245,0.516667
17,130-423,1,1,17,0,06:30:00,23:01:00,60,60.000000,1,08:30:00,09:01:00,186.310006,8.783333,21.211765,10.959412,0.516667
18,131-423,1,0,16,0,06:34:00,22:05:00,60,60.000000,1,14:34:00,15:05:00,198.688841,8.266667,24.034940,12.418053,0.516667
19,131-423,1,1,16,0,07:00:00,22:31:00,60,60.000000,1,08:00:00,08:31:00,198.956956,8.266667,24.067374,12.434810,0.516667
20,131N-423,0,1,1,0,23:00:00,23:31:00,NaN,NaN,1,23:00:00,23:31:00,12.434810,0.516667,24.067374,12.434810,0.516667
21,133-423,1,0,18,0,06:20:00,23:50:00,60,60.000000,1,14:20:00,14:59:00,283.728382,11.250000,25.220301,15.762688,0.625000
22,133-423,1,1,18,0,07:03:00,24:12:00,62,57.916667,1,07:36:00,08:16:00,292.853794,10.950000,26.744639,16.269655,0.608333
23,140-423,1,0,21,0,05:43:00,19:36:00,60,40.588235,2,07:43:00,08:06:00,476.703908,18.550000,25.698324,22.700186,0.883333
24,140-423,1,1,19,0,07:13:00,24:04:00,60,39.375000,2,07:43:00,08:08:00,444.173697,17.216667,25.799053,23.377563,0.906140
25,141-423,1,0,24,0,06:55:00,19:03:00,30,30.000000,2,14:55:00,15:03:00,321.622691,15.200000,21.159388,13.400945,0.633333
26,141-423,1,1,23,0,06:40:00,18:20:00,30,30.000000,2,07:10:00,07:20:00,313.982447,15.333333,20.477116,13.651411,0.666667
27,142-423,1,0,21,0,06:28:00,20:36:00,60,40.882353,2,07:53:00,08:21:00,495.784503,18.800000,26.371516,23.608786,0.895238
28,142-423,1,1,21,0,07:28:00,22:38:00,60,39.705882,2,07:58:00,08:23:00,503.958136,19.250000,26.179643,23.998006,0.916667
29,143-423,1,0,25,0,06:34:00,19:22:00,30,30.000000,2,08:04:00,08:22:00,467.041105,20.000000,23.352055,18.681644,0.800000
30,143-423,1,1,23,0,06:46:00,18:30:00,30,30.000000,2,14:46:00,15:00:00,430.038811,16.866667,25.496372,18.697340,0.733333
31,143W-423,1,0,4,0,19:05:00,22:50:00,NaN,NaN,1,19:05:00,19:50:00,92.722582,3.000000,30.907527,23.180646,0.750000
32,143W-423,1,1,5,0,18:15:00,23:00:00,NaN,NaN,1,18:15:00,19:00:00,112.013139,3.750000,29.870170,22.402628,0.750000
33,150-423,1,0,14,0,06:30:00,19:30:00,60,55.000000,2,08:00:00,09:00:00,445.492065,14.000000,31.820862,31.820862,1.000000
34,150-423,1,1,13,0,06:23:00,18:25:00,60,54.545455,3,17:23:00,17:25:00,420.176319,13.433333,31.278634,32.321255,1.033333
35,150E-423,1,0,4,0,19:25:00,23:32:00,NaN,NaN,2,20:25:00,20:32:00,151.121666,4.466667,33.833209,37.780417,1.116667
36,150E-423,1,1,4,0,18:15:00,22:22:00,NaN,NaN,2,19:15:00,19:22:00,153.695997,4.466667,34.409551,38.423999,1.116667

In [55]:
date = feed.get_dates()[0]
f = gu.time_it(feed.get_feed_time_series)(trips_stats, date, freq='24H')
f

Timing get_feed_time_series
2015-03-27 12:45:24.999754 Began process
2015-03-27 12:45:25.224093 Finished in 0.00 min

,num_trip_starts,num_trips,service_distance,service_duration,service_speed
2014-05-26,622,19.691667,13774.027234,472.6,29.145212