In [59]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json

import shapely
from shapely.geometry import mapping
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

gtfs_tk_dir = '../../gtfs-tk/'
sys.path.append(gtfs_tk_dir)
import gtfs_tk.feed as gf
import gtfs_tk.utils as gu

%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [60]:
#feed = gf.Feed(gtfs_tk_dir + 'data/portland_gtfs.zip', original_units='ft')
feed = gf.Feed(gtfs_tk_dir + 'data/cairns_gtfs.zip')

# Set study date
date = feed.get_dates()[0]

In [61]:
trips_stats = feed.get_trips_stats()

In [62]:
date = '20140607'
routes_stats = feed.get_routes_stats(trips_stats, date)
routes_ts = feed.get_routes_time_series(trips_stats, date)

In [63]:
route = '110-423'
f = routes_stats
f[f['route_id'] == route].T
#s = g['num_trips'][route]

                            0
route_id              110-423
num_trips                  34
is_loop                     0
is_bidirectional            1
start_time           06:16:00
end_time             25:04:00
max_headway                60
mean_headway               60
peak_num_trips              2
peak_start_time      08:08:00
peak_end_time        08:10:00
service_distance     1091.351
service_duration     30.96667
service_speed        35.24276
mean_trip_distance   32.09855
mean_trip_duration  0.9107843

In [64]:
tss = trips_stats[trips_stats['route_id'] == route]
tss = pd.merge(tss, feed.get_trips(date))
gf.get_routes_stats(tss).T

                            0
route_id              110-423
num_trips                  34
is_loop                     0
is_bidirectional            1
start_time           06:16:00
end_time             25:04:00
max_headway                60
mean_headway               60
peak_num_trips              2
peak_start_time      08:08:00
peak_end_time        08:10:00
service_distance     1091.351
service_duration     30.96667
service_speed        35.24276
mean_trip_distance   32.09855
mean_trip_duration  0.9107843

In [29]:
date = feed.get_dates()[0]
f = gu.time_it(feed.get_routes_time_series)(trips_stats, date, freq='5Min')
print(f.index)
f.to_csv('temp.csv')
g = pd.read_csv('temp.csv', header=[0, 1], parse_dates=True, index_col=0, infer_datetime_format=True)
x = pd.tseries.frequencies.infer_freq(g.index)
g.index.freq = pd.tseries.frequencies.to_offset(x)
print(g.index)
gf.downsample(g, freq='15Min')

Timing get_routes_time_series
2015-03-27 16:36:32.265245 Began process
2015-03-27 16:36:32.457691 Finished in 0.00 min
<class 'pandas.tseries.index.DatetimeIndex'>
[2014-05-26 00:00:00, ..., 2014-05-26 23:55:00]
Length: 288, Freq: 5T, Timezone: None
<class 'pandas.tseries.index.DatetimeIndex'>
[2014-05-26 00:00:00, ..., 2014-05-26 23:55:00]
Length: 288, Freq: 5T, Timezone: None

indicator           num_trip_starts                                           \
route_id                    110-423 111-423 112-423 113-423 120-423 120N-423
2014-05-26 00:00:00               0       0       0       0       0        0
2014-05-26 00:15:00               0       0       0       0       0        0
2014-05-26 00:30:00               0       0       0       0       0        0
2014-05-26 00:45:00               0       0       0       0       0        0
2014-05-26 01:00:00               0       0       0       0       0        0
2014-05-26 01:15:00               0       0       0       0       0        0
2014-05-26 01:30:00               0       0       0       0       0        0
2014-05-26 01:45:00               0       0       0       0       0        0
2014-05-26 02:00:00               0       0       0       0       0        0
2014-05-26 02:15:00               0       0       0       0       0        0
2014-05-26 02:30:00               0       0       0       0       0        0
2014-05-26 02:45:00               0       0       0       0       0        0
2014-05-26 03:00:00               0       0       0       0       0        0
2014-05-26 03:15:00               0       0       0       0       0        0
2014-05-26 03:30:00               0       0       0       0       0        0
2014-05-26 03:45:00               0       0       0       0       0        0
2014-05-26 04:00:00               0       0       0       0       0        0
2014-05-26 04:15:00               0       0       0       0       0        0
2014-05-26 04:30:00               0       0       0       0       0        0
2014-05-26 04:45:00               0       0       0       0       0        0
2014-05-26 05:00:00               0       0       0       0       0        0
2014-05-26 05:15:00               0       0       0       0       0        0
2014-05-26 05:30:00               0       0       0       0       1        0
2014-05-26 05:45:00               1       0       0       0       0        0
2014-05-26 06:00:00               0       1       0       1       0        0
2014-05-26 06:15:00               1       0       0       0       0        0
2014-05-26 06:30:00               0       1       0       1       1        0
2014-05-26 06:45:00               1       1       0       0       0        0
2014-05-26 07:00:00               1       0       0       0       1        0
2014-05-26 07:15:00               1       2       0       1       0        0
...                             ...     ...     ...     ...     ...      ...
2014-05-26 16:30:00               1       1       0       0       1        0
2014-05-26 16:45:00               1       1       1       0       0        0
2014-05-26 17:00:00               1       1       0       1       1        0
2014-05-26 17:15:00               1       1       0       0       0        0
2014-05-26 17:30:00               1       1       0       0       1        0
2014-05-26 17:45:00               1       1       1       0       0        0
2014-05-26 18:00:00               2       0       0       1       1        0
2014-05-26 18:15:00               0       1       0       0       0        0
2014-05-26 18:30:00               1       1       0       0       1        0
2014-05-26 18:45:00               0       1       1       0       0        0
2014-05-26 19:00:00               2       0       0       0       1        0
2014-05-26 19:15:00               0       0       0       0       0        0
2014-05-26 19:30:00               0       2       0       0       1        0
2014-05-26 19:45:00               0       0       1       0       0        0
2014-05-26 20:00:00               2       0       0       0       1        0
2014-05-26 20:15:00               0       0       0       0       0        0
2014-05-26 20:30:00               0       2       0       0       1        0
2014-05-26 20:45:00               0       0       1       0       0        0
2014-05-26 21:00:00               2       0       0       0       1        0
2014-05-26 21:15:00               0       0       0       0       0        0
2014-05-26 21:30:00               0       2       0       0       1        0
2014-05-26 21:45:00               0       0       1       0       0        0
2014-05-26 22:00:00               2       0       0       0       0        1
2014-05-26 22:15:00               0       0       0       0       0        0
2014-05-26 22:30:00               0       2       0       0       0        0
2014-05-26 22:45:00               0       0       0       0       0        0
2014-05-26 23:00:00               1       0       0       0       0        1
2014-05-26 23:15:00               0       0       0       0       0        0
2014-05-26 23:30:00               0       1       0       0       0        0
2014-05-26 23:45:00               0       0       0       0       0        0

indicator                                              ...     service_speed  \
route_id            121-423 122-423 123-423 130-423    ...           131-423
2014-05-26 00:00:00       0       0       0       0    ...               NaN
2014-05-26 00:15:00       0       0       0       0    ...               NaN
2014-05-26 00:30:00       0       0       0       0    ...               NaN
2014-05-26 00:45:00       0       0       0       0    ...               NaN
2014-05-26 01:00:00       0       0       0       0    ...               NaN
2014-05-26 01:15:00       0       0       0       0    ...               NaN
2014-05-26 01:30:00       0       0       0       0    ...               NaN
2014-05-26 01:45:00       0       0       0       0    ...               NaN
2014-05-26 02:00:00       0       0       0       0    ...               NaN
2014-05-26 02:15:00       0       0       0       0    ...               NaN
2014-05-26 02:30:00       0       0       0       0    ...               NaN
2014-05-26 02:45:00       0       0       0       0    ...               NaN
2014-05-26 03:00:00       0       0       0       0    ...               NaN
2014-05-26 03:15:00       0       0       0       0    ...               NaN
2014-05-26 03:30:00       0       0       0       0    ...               NaN
2014-05-26 03:45:00       0       0       0       0    ...               NaN
2014-05-26 04:00:00       0       0       0       0    ...               NaN
2014-05-26 04:15:00       0       0       0       0    ...               NaN
2014-05-26 04:30:00       0       0       0       0    ...               NaN
2014-05-26 04:45:00       0       0       0       0    ...               NaN
2014-05-26 05:00:00       0       0       0       0    ...               NaN
2014-05-26 05:15:00       0       0       0       0    ...               NaN
2014-05-26 05:30:00       0       0       0       0    ...               NaN
2014-05-26 05:45:00       0       0       0       0    ...               NaN
2014-05-26 06:00:00       0       0       1       1    ...               NaN
2014-05-26 06:15:00       1       1       1       0    ...               NaN
2014-05-26 06:30:00       0       0       1       1    ...         24.034940
2014-05-26 06:45:00       1       1       0       0    ...         24.034940
2014-05-26 07:00:00       0       1       1       1    ...         24.059265
2014-05-26 07:15:00       2       1       1       0    ...         24.067374
...                     ...     ...     ...     ...    ...               ...
2014-05-26 16:30:00       0       0       2       1    ...         24.037643
2014-05-26 16:45:00       1       1       0       0    ...         24.034940
2014-05-26 17:00:00       0       1       1       1    ...         24.059265
2014-05-26 17:15:00       2       0       1       0    ...         24.067374
2014-05-26 17:30:00       0       1       2       1    ...         24.037643
2014-05-26 17:45:00       0       1       0       0    ...         24.034940
2014-05-26 18:00:00       0       1       1       1    ...         24.059265
2014-05-26 18:15:00       2       0       1       0    ...         24.067374
2014-05-26 18:30:00       0       0       2       1    ...         24.037643
2014-05-26 18:45:00       0       1       0       0    ...         24.034940
2014-05-26 19:00:00       0       1       0       1    ...         24.059265
2014-05-26 19:15:00       2       0       1       0    ...         24.067374
2014-05-26 19:30:00       0       0       1       1    ...         24.037643
2014-05-26 19:45:00       0       1       0       0    ...         24.034940
2014-05-26 20:00:00       0       1       0       1    ...         24.059265
2014-05-26 20:15:00       2       0       1       0    ...         24.067374
2014-05-26 20:30:00       0       0       1       1    ...         24.037643
2014-05-26 20:45:00       0       0       0       0    ...         24.034940
2014-05-26 21:00:00       0       1       0       1    ...         24.059265
2014-05-26 21:15:00       1       0       1       0    ...         24.067374
2014-05-26 21:30:00       0       0       1       1    ...         24.037643
2014-05-26 21:45:00       0       0       0       0    ...         24.034940
2014-05-26 22:00:00       0       0       0       0    ...         24.059265
2014-05-26 22:15:00       0       0       1       0    ...         24.067374
2014-05-26 22:30:00       0       0       1       1    ...         24.067374
2014-05-26 22:45:00       0       0       0       0    ...               NaN
2014-05-26 23:00:00       0       0       0       0    ...               NaN
2014-05-26 23:15:00       0       0       0       0    ...               NaN
2014-05-26 23:30:00       0       0       1       0    ...               NaN
2014-05-26 23:45:00       0       0       0       0    ...               NaN

indicator                                                                   \
route_id              131N-423    133-423    140-423    141-423    142-423
2014-05-26 00:00:00        NaN  29.675914  28.625587        NaN        NaN
2014-05-26 00:15:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 00:30:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 00:45:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 01:00:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 01:15:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 01:30:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 01:45:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 02:00:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 02:15:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 02:30:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 02:45:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 03:00:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 03:15:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 03:30:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 03:45:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 04:00:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 04:15:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 04:30:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 04:45:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 05:00:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 05:15:00        NaN        NaN        NaN        NaN        NaN
2014-05-26 05:30:00        NaN        NaN  25.698324        NaN        NaN
2014-05-26 05:45:00        NaN        NaN  25.698324        NaN        NaN
2014-05-26 06:00:00        NaN        NaN  25.698324        NaN        NaN
2014-05-26 06:15:00        NaN  24.250289  25.698324        NaN  26.726927
2014-05-26 06:30:00        NaN  24.250289  25.698324  20.477116  26.726927
2014-05-26 06:45:00        NaN  24.250289  25.698324  20.647684  25.993822
2014-05-26 07:00:00        NaN  32.196097  25.682682  20.769518  25.574905
2014-05-26 07:15:00        NaN  24.972635  25.633148  20.818252  25.000808
...                        ...        ...        ...        ...        ...
2014-05-26 16:30:00        NaN  24.615628  25.596486  20.800297  26.453285
2014-05-26 16:45:00        NaN  24.754205  25.600560  20.818252  26.441884
2014-05-26 17:00:00        NaN  25.224527  25.596486  20.800297  26.453285
2014-05-26 17:15:00        NaN  24.338856  25.600560  20.818252  26.441884
2014-05-26 17:30:00        NaN  24.615628  25.596486  20.800297  26.453285
2014-05-26 17:45:00        NaN  24.754205  25.600560  20.818252  26.441884
2014-05-26 18:00:00        NaN  25.224527  25.596116  20.849264  26.453285
2014-05-26 18:15:00        NaN  25.530517  25.600560  21.022933  26.440847
2014-05-26 18:30:00        NaN  26.870370  25.600560  21.159388  26.436183
2014-05-26 18:45:00        NaN  27.847115  25.698324  21.159388  26.320878
2014-05-26 19:00:00        NaN  29.675914  25.698324  21.159388  26.453285
2014-05-26 19:15:00        NaN  27.816508  25.698324        NaN  26.453285
2014-05-26 19:30:00        NaN  28.408137  25.698324        NaN  26.524230
2014-05-26 19:45:00        NaN  29.211063        NaN        NaN  26.498892
2014-05-26 20:00:00        NaN  29.675914        NaN        NaN  26.453285
2014-05-26 20:15:00        NaN  27.816508        NaN        NaN  26.453285
2014-05-26 20:30:00        NaN  28.408137        NaN        NaN  26.384875
2014-05-26 20:45:00        NaN  29.211063        NaN        NaN  26.179643
2014-05-26 21:00:00        NaN  29.675914        NaN        NaN  26.179643
2014-05-26 21:15:00        NaN  27.816508        NaN        NaN  26.179643
2014-05-26 21:30:00        NaN  28.408137        NaN        NaN  26.179643
2014-05-26 21:45:00        NaN  29.211063        NaN        NaN  26.179643
2014-05-26 22:00:00        NaN  29.675914        NaN        NaN  26.179643
2014-05-26 22:15:00        NaN  27.816508  28.625587        NaN  26.179643
2014-05-26 22:30:00        NaN  28.408137  28.625587        NaN  26.179643
2014-05-26 22:45:00        NaN  29.211063  28.625587        NaN        NaN
2014-05-26 23:00:00  24.067374  29.675914  28.625587        NaN        NaN
2014-05-26 23:15:00  24.067374  27.816508  28.625587        NaN        NaN
2014-05-26 23:30:00  24.067374  28.408137  28.625587        NaN        NaN
2014-05-26 23:45:00        NaN  29.211063  28.625587        NaN        NaN

indicator
route_id               143-423   143W-423    150-423   150E-423
2014-05-26 00:00:00        NaN        NaN        NaN        NaN
2014-05-26 00:15:00        NaN        NaN        NaN        NaN
2014-05-26 00:30:00        NaN        NaN        NaN        NaN
2014-05-26 00:45:00        NaN        NaN        NaN        NaN
2014-05-26 01:00:00        NaN        NaN        NaN        NaN
2014-05-26 01:15:00        NaN        NaN        NaN        NaN
2014-05-26 01:30:00        NaN        NaN        NaN        NaN
2014-05-26 01:45:00        NaN        NaN        NaN        NaN
2014-05-26 02:00:00        NaN        NaN        NaN        NaN
2014-05-26 02:15:00        NaN        NaN        NaN        NaN
2014-05-26 02:30:00        NaN        NaN        NaN        NaN
2014-05-26 02:45:00        NaN        NaN        NaN        NaN
2014-05-26 03:00:00        NaN        NaN        NaN        NaN
2014-05-26 03:15:00        NaN        NaN        NaN        NaN
2014-05-26 03:30:00        NaN        NaN        NaN        NaN
2014-05-26 03:45:00        NaN        NaN        NaN        NaN
2014-05-26 04:00:00        NaN        NaN        NaN        NaN
2014-05-26 04:15:00        NaN        NaN        NaN        NaN
2014-05-26 04:30:00        NaN        NaN        NaN        NaN
2014-05-26 04:45:00        NaN        NaN        NaN        NaN
2014-05-26 05:00:00        NaN        NaN        NaN        NaN
2014-05-26 05:15:00        NaN        NaN        NaN        NaN
2014-05-26 05:30:00        NaN        NaN        NaN        NaN
2014-05-26 05:45:00        NaN        NaN        NaN        NaN
2014-05-26 06:00:00        NaN        NaN        NaN        NaN
2014-05-26 06:15:00        NaN        NaN  31.278634        NaN
2014-05-26 06:30:00  23.352055        NaN  31.549748        NaN
2014-05-26 06:45:00  24.387243        NaN  31.549748        NaN
2014-05-26 07:00:00  24.136561        NaN  31.549748        NaN
2014-05-26 07:15:00  24.571373        NaN  31.532803        NaN
...                        ...        ...        ...        ...
2014-05-26 16:30:00  24.136561        NaN  31.549748        NaN
2014-05-26 16:45:00  24.571373        NaN  31.498456        NaN
2014-05-26 17:00:00  24.136561        NaN  31.459377        NaN
2014-05-26 17:15:00  24.571373        NaN  31.451686        NaN
2014-05-26 17:30:00  24.136561        NaN  31.459377        NaN
2014-05-26 17:45:00  24.571373        NaN  31.481970        NaN
2014-05-26 18:00:00  24.136561        NaN  31.549748        NaN
2014-05-26 18:15:00  24.221373  29.870170  31.603971  34.409551
2014-05-26 18:30:00  23.352055  29.870170  31.820862  34.409551
2014-05-26 18:45:00  23.352055  29.870170  31.820862  34.409551
2014-05-26 19:00:00  23.352055  30.907527  31.820862  34.409551
2014-05-26 19:15:00  23.352055  30.388849  31.820862  34.302821
2014-05-26 19:30:00        NaN  30.388849        NaN  34.121380
2014-05-26 19:45:00        NaN  30.129510        NaN  34.121380
2014-05-26 20:00:00        NaN  30.907527        NaN  34.121380
2014-05-26 20:15:00        NaN  30.388849        NaN  34.135103
2014-05-26 20:30:00        NaN  30.388849        NaN  34.103369
2014-05-26 20:45:00        NaN  30.129510        NaN  34.121380
2014-05-26 21:00:00        NaN  30.907527        NaN  34.121380
2014-05-26 21:15:00        NaN  30.388849        NaN  34.135103
2014-05-26 21:30:00        NaN  30.388849        NaN  34.103369
2014-05-26 21:45:00        NaN  30.129510        NaN  34.121380
2014-05-26 22:00:00        NaN  30.907527        NaN  34.121380
2014-05-26 22:15:00        NaN  30.388849        NaN  33.982631
2014-05-26 22:30:00        NaN  30.388849        NaN  33.833209
2014-05-26 22:45:00        NaN  30.129510        NaN  33.833209
2014-05-26 23:00:00        NaN        NaN        NaN  33.833209
2014-05-26 23:15:00        NaN        NaN        NaN  33.833209
2014-05-26 23:30:00        NaN        NaN        NaN  33.833209
2014-05-26 23:45:00        NaN        NaN        NaN        NaN

[96 rows x 100 columns]