In [1]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
from pathlib import Path

import pandas as pd
import numpy as np


DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

DATA_DIR = DIR/'data/'

%load_ext autoreload
%autoreload 2

In [4]:
# Load a feed
#
feed = gt.read_gtfs(DATA_DIR/'cairns_gtfs.zip', dist_units='km')

feed.describe()

                          indicator     value
0                        start_date  20140526
1                          end_date  20141228
2                        num_routes        22
3                         num_trips      1339
4                         num_stops       416
5                        num_shapes        54
6                       sample_date  20140529
7  num_routes_active_on_sample_date        20
8   num_trips_active_on_sample_date       622
9   num_stops_active_on_sample_date       416

In [3]:
# Validate it
#
feed.validate()

,type,message,table,rows
0,warning,This feed has expired,calendar/calendar_dates,[]
1,warning,"Duplicate (trip_id, departure_time) pair",stop_times,"[17710, 17722, 17730, 17732, 17736, 17739, 177..."

In [9]:
# Compute trip stats
#
trip_stats = feed.compute_trip_stats()
trip_stats.head().T

,703,0,704,705,706
trip_id,CNS2014-CNS_MUL-Weekday-00-4165878,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4165879,CNS2014-CNS_MUL-Weekday-00-4165880,CNS2014-CNS_MUL-Weekday-00-4165881
route_id,110-423,110-423,110-423,110-423,110-423
route_short_name,110,110,110,110,110
route_type,3,3,3,3,3
direction_id,0,0,0,0,0
shape_id,1100023,1100023,1100023,1100023,1100023
num_stops,35,35,35,35,35
start_time,05:50:00,06:16:00,06:20:00,06:50:00,07:15:00
end_time,06:50:00,07:10:00,07:20:00,07:50:00,08:20:00
start_stop_id,750337,750337,750337,750337,750337
end_stop_id,750449,750449,750449,750449,750449
is_loop,0,0,0,0,0
duration,1,0.9,1,1,1.08333
distance,32.5071,32.5071,32.5071,32.5071,32.5071
speed,32.5071,36.119,32.5071,32.5071,30.0066

In [10]:
# Add shape distance traveled field to stop times
#
feed = feed.append_dist_to_stop_times(trip_stats)
feed.stop_times.head().T

,17709,17710,17711,17712,17713
trip_id,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937
arrival_time,06:16:00,06:16:00,06:18:00,06:20:00,06:21:00
departure_time,06:16:00,06:16:00,06:18:00,06:20:00,06:21:00
stop_id,750337,750000,750001,750002,750003
stop_sequence,1,2,3,4,5
pickup_type,0,0,0,0,0
drop_off_type,0,0,0,0,0
shape_dist_traveled,0,0.46864,1.19038,2.15478,2.619

In [11]:
# Pick a study date
#
week = feed.get_first_week()
print(week)
date = feed.compute_busiest_date(week)
date

['20140526', '20140527', '20140528', '20140529', '20140530', '20140531', '20140601']

'20140530'

In [12]:
# Get trips
#
feed.get_trips(date).head()

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165878,The Pier Cairns Terminus,0,NaN,1100023
1,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165879,The Pier Cairns Terminus,0,NaN,1100023
2,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165880,The Pier Cairns Terminus,0,NaN,1100023
3,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165881,The Pier Cairns Terminus,0,NaN,1100023
4,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165882,The Pier Cairns Terminus,0,NaN,1100023

In [14]:
# Compute stop stats 
#
stop_stats = feed.compute_stop_stats(date, split_directions=True)
stop_stats.head()

,stop_id,direction_id,num_routes,num_trips,start_time,end_time,max_headway,min_headway,mean_headway
0,750000,0,2.0,34.0,05:50:00,27:50:00,34.0,23.0,29.863636
1,750001,0,2.0,34.0,05:52:00,27:51:00,35.0,23.0,29.909091
2,750002,0,2.0,34.0,05:54:00,27:52:00,35.0,23.0,29.909091
3,750003,0,2.0,34.0,05:55:00,27:52:00,35.0,23.0,29.909091
4,750004,0,2.0,34.0,05:57:00,27:53:00,34.0,23.0,29.863636

In [19]:
# Compute stop time series
#
sts = feed.compute_stop_time_series(date, split_directions=True)
sts = gt.downsample(sts, freq='12H')
sts.head()

indicator           num_trips                                            \
stop_id                750000 750001 750002 750003 750004 750005 750006
direction_id                0      0      0      0      0      0      0
2014-05-30 00:00:00        17     17     17     17     17     17     16
2014-05-30 12:00:00        17     17     17     17     17     17     18

indicator                                 ...                                \
stop_id             750007 750008 750009  ...   750437 750440 750448 750449
direction_id             0      0      0  ...        0      1      0      0
2014-05-30 00:00:00     16     16     16  ...        6      5     10    114
2014-05-30 12:00:00     18     18     18  ...       10     12     11    179

indicator
stop_id             750450 750452 750453 750454 750455 750456
direction_id             1      1      1      1      0      1
2014-05-30 00:00:00     41     28     30     11      4     51
2014-05-30 12:00:00     65     53     49     17     11     79

[2 rows x 469 columns]

In [17]:
# Compute route stats 
#
route_stats = feed.compute_route_stats(trip_stats, date, split_directions=True)
route_stats.head().T

                           0         1         2         3         4
route_id             110-423   110-423  110N-423  110N-423   111-423
direction_id               0         1         0         1         0
route_short_name         110       110      110N      110N       111
route_type                 3         3         3         3         3
num_trips                 30        29         4         5        29
is_loop                    0         0         0         0         0
start_time          05:50:00  07:10:00  24:50:00  24:40:00  06:02:00
end_time            23:05:00  24:02:00  28:35:00  29:39:00  23:35:00
max_headway               35        30       NaN       NaN        67
min_headway               23        30       NaN       NaN        25
mean_headway         29.9091        30       NaN       NaN        32
peak_num_trips             3         2         1         1         3
peak_start_time     18:13:00  07:40:00  24:50:00  24:40:00  06:57:00
peak_end_time       18:20:00  08:08:00  25:35:00  25:39:00  07:05:00
service_distance     975.214   919.009   177.781   221.727   1005.37
service_duration     29.9167   27.4333         3   4.91667   30.3667
is_bidirectional           1         1         1         1         1
service_speed        32.5977   33.4997   59.2605   45.0971   33.1076
mean_trip_distance   32.5071     31.69   44.4454   44.3455   34.6679
mean_trip_duration  0.997222  0.945977      0.75  0.983333   1.04713

In [18]:
# Compute route time series
#
rts = feed.compute_route_time_series(trip_stats, date, split_directions=True)
rts = gt.downsample(rts, freq='6H')
rts.head()

indicator           num_trip_starts                                      \
route_id                    110-423     110N-423    111-423     112-423
direction_id                      0   1        0  1       0   1       0
2014-05-30 00:00:00               1   0        4  5       0   0       0
2014-05-30 06:00:00              12  10        0  0      12  10       5
2014-05-30 12:00:00              12  12        0  0      12  12       6
2014-05-30 18:00:00               5   7        0  0       5   7       4

indicator                                 ...     service_speed             \
route_id            113-423    120-423    ...           142-423
direction_id              0  1       0    ...                 0          1
2014-05-30 00:00:00       0  0       1    ...               NaN        NaN
2014-05-30 06:00:00       3  0       6    ...         25.915381  26.179643
2014-05-30 12:00:00       0  2       6    ...         26.726927  26.179643
2014-05-30 18:00:00       0  1       4    ...         26.726927  26.179643

indicator                                                                  \
route_id               143-423              143W-423              150-423
direction_id                 0          1          0         1          0
2014-05-30 00:00:00        NaN        NaN        NaN       NaN        NaN
2014-05-30 06:00:00  23.352055  25.496372        NaN       NaN  31.820862
2014-05-30 12:00:00  23.352055  25.496372        NaN       NaN  31.820862
2014-05-30 18:00:00  23.352055  25.496372  30.907527  29.87017  31.820862

indicator
route_id                         150E-423
direction_id                 1          0          1
2014-05-30 00:00:00        NaN        NaN        NaN
2014-05-30 06:00:00  31.278634        NaN        NaN
2014-05-30 12:00:00  31.278634        NaN        NaN
2014-05-30 18:00:00  31.278634  33.833209  34.409551

[4 rows x 200 columns]

In [20]:
# Compute feed time series
#
fts = feed.compute_feed_time_series(trip_stats, date, freq='4H')
fts

,num_trip_starts,num_trips,service_distance,service_duration,service_speed
2014-05-30 00:00:00,12,2.212500,423.588152,8.850000,47.863068
2014-05-30 04:00:00,81,12.295833,1463.148646,49.183333,29.748871
2014-05-30 08:00:00,164,32.054167,3650.067131,128.216667,28.467962
2014-05-30 12:00:00,162,30.837500,3507.673152,123.350000,28.436750
2014-05-30 16:00:00,149,29.975000,3511.544548,119.900000,29.287277
2014-05-30 20:00:00,68,13.379167,1734.402199,53.516667,32.408637

In [21]:
# Get trip locations for every hour
#
rng = pd.date_range('1/1/2000', periods=24, freq='H')
times = [t.strftime('%H:%M:%S') for t in rng]
loc = feed.compute_trip_locations(date, times)
loc.head()

,trip_id,rel_dist,time,route_id,direction_id,shape_id,lon,lat
0,CNS2014-CNS_MUL-Weekday-00-4165878,0.152945,06:00:00,110-423,0,1100023,145.669490,-16.762839
1,CNS2014-CNS_MUL-Weekday-00-4165879,0.720587,07:00:00,110-423,0,1100023,145.732413,-16.865060
2,CNS2014-CNS_MUL-Weekday-00-4165880,0.152945,07:00:00,110-423,0,1100023,145.669490,-16.762839
3,CNS2014-CNS_MUL-Weekday-00-4165881,0.720587,08:00:00,110-423,0,1100023,145.732413,-16.865060
4,CNS2014-CNS_MUL-Weekday-00-4165882,0.202283,08:00:00,110-423,0,1100023,145.675422,-16.768954

In [23]:
# Get a route timetable
#
route_id = feed.routes['route_id'].iat[0]
feed.get_route_timetable(route_id, date).head()

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
0,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165878,The Pier Cairns Terminus,0,NaN,1100023,05:50:00,05:50:00,750337,1,0,0,0.000000
1,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165878,The Pier Cairns Terminus,0,NaN,1100023,05:50:00,05:50:00,750000,2,0,0,0.468640
2,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165878,The Pier Cairns Terminus,0,NaN,1100023,05:52:00,05:52:00,750001,3,0,0,1.190380
3,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165878,The Pier Cairns Terminus,0,NaN,1100023,05:54:00,05:54:00,750002,4,0,0,2.154785
4,110-423,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00-4165878,The Pier Cairns Terminus,0,NaN,1100023,05:55:00,05:55:00,750003,5,0,0,2.619003

In [24]:
# Get a stop time table
#
stop = feed.stops['stop_id'].iat[0]
feed.get_stop_timetable(stop, date).head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,trip_headsign,direction_id,block_id,shape_id
1,CNS2014-CNS_MUL-Weekday-00-4165878,05:50:00,05:50:00,750000,2,0,0,0.46864,110-423,CNS2014-CNS_MUL-Weekday-00,The Pier Cairns Terminus,0,NaN,1100023
36,CNS2014-CNS_MUL-Weekday-00-4165879,06:20:00,06:20:00,750000,2,0,0,0.46864,110-423,CNS2014-CNS_MUL-Weekday-00,The Pier Cairns Terminus,0,NaN,1100023
71,CNS2014-CNS_MUL-Weekday-00-4165880,06:50:00,06:50:00,750000,2,0,0,0.46864,110-423,CNS2014-CNS_MUL-Weekday-00,The Pier Cairns Terminus,0,NaN,1100023
106,CNS2014-CNS_MUL-Weekday-00-4165881,07:16:00,07:16:00,750000,2,0,0,0.46864,110-423,CNS2014-CNS_MUL-Weekday-00,The Pier Cairns Terminus,0,NaN,1100023
141,CNS2014-CNS_MUL-Weekday-00-4165882,07:46:00,07:46:00,750000,2,0,0,0.46864,110-423,CNS2014-CNS_MUL-Weekday-00,The Pier Cairns Terminus,0,NaN,1100023