In [1]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

In [2]:
#path = DATA_DIR/'sample_gtfs.zip'
#path = DATA_DIR/'other_feeds'/'gtfs.zip'
path = DATA_DIR/'cairns_gtfs.zip'

print(gt.list_gtfs(path))

feed = gt.read_gtfs(path, dist_units='km')

            file_name  file_size
0  calendar_dates.txt        387
1          routes.txt       1478
2           trips.txt     143081
3           stops.txt      26183
4          agency.txt        199
5      stop_times.txt    2561019
6          shapes.txt     864694
7        calendar.txt        337

In [41]:
c = feed.calendar
c['monday'] = 0
c['tuesday'] = 0
feed.calendar = c
trip_stats = feed.compute_trip_stats()
dates = feed.get_first_week()

In [54]:
#feed.compute_stop_stats(dates[:3])
feed.compute_route_stats(trip_stats, dates[:3])
#feed.compute_feed_stats(trip_stats, dates[:3])

Index(['route_id', 'route_short_name', 'route_type', 'num_trips',
       'num_trip_starts', 'num_trip_ends', 'is_loop', 'is_bidirectional',
       'start_time', 'end_time', 'max_headway', 'min_headway', 'mean_headway',
       'peak_num_trips', 'peak_start_time', 'peak_end_time',
       'service_distance', 'service_duration', 'service_speed',
       'mean_trip_distance', 'mean_trip_duration', 'date'],
      dtype='object')
Index(['route_id', 'route_short_name', 'route_type', 'num_trips',
       'num_trip_ends', 'num_trip_starts', 'is_bidirectional', 'is_loop',
       'start_time', 'end_time', 'max_headway', 'min_headway', 'mean_headway',
       'peak_num_trips', 'peak_start_time', 'peak_end_time',
       'service_duration', 'service_distance', 'service_speed',
       'mean_trip_distance', 'mean_trip_duration', 'date'],
      dtype='object')
Index(['route_id', 'route_short_name', 'route_type', 'num_trips',
       'num_trip_ends', 'num_trip_starts', 'is_bidirectional', 'is_loop',
       'start_time', 'end_time', 'max_headway', 'min_headway', 'mean_headway',
       'peak_num_trips', 'peak_start_time', 'peak_end_time',
       'service_duration', 'service_distance', 'service_speed',
       'mean_trip_distance', 'mean_trip_duration', 'date'],
      dtype='object')

,date,end_time,is_bidirectional,is_loop,max_headway,mean_headway,mean_trip_distance,mean_trip_duration,min_headway,num_trip_ends,...,peak_end_time,peak_num_trips,peak_start_time,route_id,route_short_name,route_type,service_distance,service_duration,service_speed,start_time
0,20140526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20140527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20140528,24:02:00,1.0,0.0,35.0,29.955556,32.105476,0.972034,23.0,58.0,...,18:20:00,5.0,18:13:00,110-423,110,3.0,1894.223063,57.350000,33.029173,05:50:00
3,20140528,24:36:00,1.0,0.0,67.0,30.954545,34.528925,1.023276,25.0,57.0,...,08:05:00,5.0,07:57:00,111-423,111,3.0,2002.677623,59.350000,33.743515,06:02:00
4,20140528,22:31:00,0.0,1.0,60.0,60.000000,21.161459,0.600000,60.0,15.0,...,08:31:00,1.0,07:55:00,112-423,112,3.0,317.421880,9.000000,35.269098,07:55:00
5,20140528,18:42:00,1.0,0.0,60.0,60.000000,24.600261,0.655556,60.0,6.0,...,06:45:00,2.0,06:35:00,113-423,113,3.0,147.601565,3.933333,37.525822,06:05:00
6,20140528,22:23:00,1.0,0.0,60.0,60.000000,28.095473,0.832292,60.0,32.0,...,07:23:00,2.0,07:00:00,120-423,120,3.0,899.055146,26.633333,33.756764,05:34:00
7,20140528,23:51:00,0.0,0.0,NaN,NaN,40.502120,0.850000,NaN,2.0,...,22:51:00,1.0,22:00:00,120N-423,120N,3.0,81.004241,1.700000,47.649553,22:00:00
8,20140528,22:00:00,1.0,0.0,60.0,52.800000,17.237029,0.533333,30.0,34.0,...,07:48:00,3.0,07:46:00,121-423,121,3.0,586.058987,18.133333,32.319429,06:28:00
9,20140528,21:30:00,1.0,0.0,60.0,54.000000,16.420466,0.466667,30.0,33.0,...,07:30:00,2.0,07:16:00,122-423,122,3.0,541.875382,15.400000,35.186713,06:16:00
10,20140528,24:15:00,1.0,0.0,50.0,29.565217,18.797826,0.674444,10.0,59.0,...,07:31:00,3.0,07:10:00,123-423,123,3.0,1127.869577,40.466667,27.871571,06:14:00
11,20140528,23:01:00,1.0,0.0,60.0,60.000000,10.940907,0.516667,60.0,33.0,...,06:35:00,2.0,06:30:00,130-423,130,3.0,361.049921,17.050000,21.175948,06:04:00
12,20140528,22:31:00,1.0,0.0,60.0,60.000000,12.426431,0.516667,60.0,32.0,...,07:05:00,2.0,07:00:00,131-423,131,3.0,397.645797,16.533333,24.051157,06:34:00
13,20140528,23:31:00,0.0,0.0,NaN,NaN,12.434810,0.516667,NaN,1.0,...,23:31:00,1.0,23:00:00,131N-423,131N,3.0,12.434810,0.516667,24.067374,23:00:00
14,20140528,24:12:00,1.0,0.0,62.0,58.913043,16.016172,0.616667,33.0,35.0,...,07:59:00,2.0,07:36:00,133-423,133,3.0,576.582176,22.200000,25.972170,06:20:00
15,20140528,24:04:00,1.0,0.0,60.0,40.000000,23.021940,0.894167,30.0,39.0,...,08:06:00,4.0,07:43:00,140-423,140,3.0,920.877605,35.766667,25.746811,05:43:00
16,20140528,19:03:00,1.0,0.0,30.0,30.000000,13.523514,0.649645,30.0,47.0,...,07:20:00,3.0,07:10:00,141-423,141,3.0,635.605138,30.533333,20.816762,06:40:00
17,20140528,22:38:00,1.0,0.0,60.0,40.294118,23.803396,0.905952,30.0,42.0,...,08:21:00,4.0,07:58:00,142-423,142,3.0,999.742639,38.050000,26.274445,06:28:00
18,20140528,19:22:00,1.0,0.0,30.0,30.000000,18.689165,0.768056,30.0,48.0,...,07:22:00,4.0,07:16:00,143-423,143,3.0,897.079917,36.866667,24.333090,06:34:00
19,20140528,23:00:00,1.0,0.0,NaN,NaN,22.748413,0.750000,NaN,9.0,...,19:50:00,2.0,19:15:00,143W-423,143W,3.0,204.735721,6.750000,30.331218,18:15:00
20,20140528,19:30:00,1.0,0.0,60.0,54.782609,32.061792,1.016049,30.0,27.0,...,08:25:00,4.0,08:23:00,150-423,150,3.0,865.668383,27.433333,31.555348,06:23:00
21,20140528,23:32:00,1.0,0.0,NaN,NaN,38.102208,1.116667,NaN,8.0,...,20:22:00,3.0,20:15:00,150E-423,150E,3.0,304.817663,8.933333,34.121380,18:15:00

In [22]:
ts = feed.compute_route_time_series(trip_stats, dates[0], freq='6H')
# inds = ['num_trips', 'num_trip_ends', 'num_trip_starts']
# rids = ['110-423', '111-423', '112-423']

# ts.loc[:, (inds, rids)]

#ts = feed.compute_feed_time_series(trip_stats, [dates[0], dates[2]], freq='6H')
# ts = feed.compute_stop_time_series([dates[0], dates[2]], freq='6H')
# sid = '750015'
# ts.loc[:, ('num_trips', sid)]

ts

indicator           num_trip_ends                                           \
route_id                  110-423 111-423 112-423 113-423 120-423 120N-423
2014-05-26 00:00:00             0       0       0       0       0        0
2014-05-26 06:00:00            19      18       4       3      11        0
2014-05-26 12:00:00            24      24       6       2      12        0
2014-05-26 18:00:00            15      15       5       1       9        2

indicator                                              ...    service_speed  \
route_id            121-423 122-423 123-423 130-423    ...          131-423
2014-05-26 00:00:00       0       0       0       0    ...              NaN
2014-05-26 06:00:00      13      13      21      11    ...        24.049902
2014-05-26 12:00:00      13      12      24      12    ...        24.051157
2014-05-26 18:00:00       8       8      14      10    ...        24.052642

indicator                                                                   \
route_id              131N-423    133-423    140-423    141-423    142-423
2014-05-26 00:00:00        NaN  29.675914  26.255898        NaN        NaN
2014-05-26 06:00:00        NaN  24.905870  25.620285  20.802088  26.021598
2014-05-26 12:00:00        NaN  24.743574  25.593499  20.809505  26.433521
2014-05-26 18:00:00  24.067374  28.375748  26.830956  21.014223  26.385164

indicator
route_id               143-423   143W-423    150-423  150E-423
2014-05-26 00:00:00        NaN        NaN        NaN       NaN
2014-05-26 06:00:00  24.366138        NaN  31.565566       NaN
2014-05-26 12:00:00  24.377598        NaN  31.524480       NaN
2014-05-26 18:00:00  23.786714  30.331218  31.702986  34.12138

[4 rows x 120 columns]

In [23]:
ts.columns

MultiIndex(levels=[['num_trip_ends', 'num_trip_starts', 'num_trips', 'service_distance', 'service_duration', 'service_speed'], ['110-423', '111-423', '112-423', '113-423', '120-423', '120N-423', '121-423', '122-423', '123-423', '130-423', '131-423', '131N-423', '133-423', '140-423', '141-423', '142-423', '143-423', '143W-423', '150-423', '150E-423']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]],
           names=['indicator', 'route_id'])

In [7]:
dts = gt.downsample(ts, freq='D')
#dts.loc[:, (inds, rids)]
#dts.loc[:, ('num_trips', sid)]
dts

,num_trip_ends,num_trip_starts,num_trips,service_distance,service_duration,service_speed
2014-05-26,617.0,622.0,622.0,13774.027234,472.6,29.145212
2014-05-27,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-28,617.0,622.0,622.0,13774.027234,472.6,29.145212

In [26]:
f = feed.compute_feed_stats(trip_stats, '2001')
f

Empty DataFrame
Columns: []
Index: []

In [25]:
f.date

Series([], Name: date, dtype: object)

In [44]:
feed.compute_stop_stats(['20140601', '20140603'])

,stop_id,num_routes,num_trips,start_time,end_time,max_headway,min_headway,mean_headway,date
0,750000,1.0,16.0,07:16:00,22:16:00,60.0,60.0,60.000000,20140601
1,750001,1.0,16.0,07:18:00,22:18:00,60.0,60.0,60.000000,20140601
2,750002,1.0,16.0,07:20:00,22:20:00,60.0,60.0,60.000000,20140601
3,750003,1.0,16.0,07:21:00,22:21:00,60.0,60.0,60.000000,20140601
4,750004,1.0,16.0,07:23:00,22:23:00,60.0,60.0,60.000000,20140601
5,750005,1.0,16.0,07:25:00,22:25:00,60.0,60.0,60.000000,20140601
6,750006,1.0,16.0,07:26:00,22:26:00,60.0,60.0,60.000000,20140601
7,750007,1.0,16.0,07:27:00,22:27:00,60.0,60.0,60.000000,20140601
8,750008,1.0,16.0,07:28:00,22:28:00,60.0,60.0,60.000000,20140601
9,750009,1.0,16.0,07:29:00,22:29:00,60.0,60.0,60.000000,20140601
10,750010,1.0,16.0,07:30:00,22:30:00,60.0,60.0,60.000000,20140601
11,750011,1.0,16.0,07:31:00,22:31:00,60.0,60.0,60.000000,20140601
12,750012,1.0,16.0,07:31:00,22:31:00,60.0,60.0,60.000000,20140601
13,750013,1.0,16.0,07:42:00,22:42:00,60.0,60.0,60.000000,20140601
14,750014,1.0,16.0,07:47:00,22:47:00,60.0,60.0,60.000000,20140601
15,750015,2.0,32.0,07:49:00,22:49:00,60.0,60.0,60.000000,20140601
16,750016,1.0,16.0,07:51:00,22:51:00,60.0,60.0,60.000000,20140601
17,750017,1.0,16.0,07:52:00,22:52:00,60.0,60.0,60.000000,20140601
18,750018,1.0,33.0,07:54:00,24:26:00,32.0,28.0,30.000000,20140601
19,750019,1.0,17.0,08:26:00,24:26:00,60.0,60.0,60.000000,20140601
20,750020,1.0,16.0,07:55:00,22:55:00,60.0,60.0,60.000000,20140601
21,750021,1.0,16.0,07:57:00,22:57:00,60.0,60.0,60.000000,20140601
22,750022,1.0,17.0,08:29:00,24:29:00,60.0,60.0,60.000000,20140601
23,750024,1.0,17.0,08:23:00,24:23:00,60.0,60.0,60.000000,20140601
24,750025,1.0,17.0,08:23:00,24:23:00,60.0,60.0,60.000000,20140601
25,750026,1.0,17.0,08:24:00,24:24:00,60.0,60.0,60.000000,20140601
26,750027,1.0,17.0,08:27:00,24:27:00,60.0,60.0,60.000000,20140601
27,750028,2.0,33.0,08:30:00,24:30:00,44.0,16.0,29.333333,20140601
28,750029,1.0,17.0,08:33:00,24:33:00,60.0,60.0,60.000000,20140601
29,750030,1.0,17.0,08:34:00,24:34:00,60.0,60.0,60.000000,20140601
...,...,...,...,...,...,...,...,...,...
386,750415,2.0,17.0,07:20:00,22:18:00,60.0,30.0,55.000000,20140603
387,750416,2.0,17.0,07:20:00,22:17:00,60.0,30.0,55.000000,20140603
388,750417,2.0,18.0,06:40:00,22:34:00,60.0,30.0,55.000000,20140603
389,750418,2.0,17.0,07:16:00,22:12:00,60.0,30.0,55.000000,20140603
390,750419,2.0,28.0,07:20:00,18:20:00,30.0,30.0,30.000000,20140603
391,750420,2.0,28.0,07:18:00,22:46:00,30.0,28.0,29.913043,20140603
392,750421,2.0,28.0,07:15:00,22:43:00,30.0,28.0,29.913043,20140603
393,750422,2.0,28.0,07:14:00,22:42:00,30.0,28.0,29.913043,20140603
394,750423,2.0,28.0,07:05:00,22:28:00,30.0,30.0,30.000000,20140603
395,750424,1.0,23.0,07:27:00,18:27:00,30.0,30.0,30.000000,20140603
396,750425,2.0,28.0,07:25:00,22:55:00,30.0,30.0,30.000000,20140603
397,750426,2.0,29.0,06:42:00,22:12:00,30.0,30.0,30.000000,20140603
398,750427,2.0,28.0,07:24:00,22:54:00,30.0,30.0,30.000000,20140603
399,750428,2.0,28.0,07:22:00,22:52:00,30.0,30.0,30.000000,20140603
400,750429,2.0,57.0,06:48:00,22:51:00,27.0,3.0,14.744681,20140603
401,750430,2.0,28.0,07:20:00,22:50:00,30.0,30.0,30.000000,20140603
402,750431,2.0,28.0,07:19:00,22:49:00,30.0,30.0,30.000000,20140603
403,750432,1.0,6.0,06:05:00,18:42:00,557.0,60.0,225.666667,20140603
404,750435,1.0,21.0,08:18:00,22:33:00,60.0,30.0,39.375000,20140603
405,750436,1.0,21.0,06:33:00,19:48:00,60.0,30.0,39.625000,20140603
406,750437,1.0,16.0,06:50:00,21:50:00,60.0,60.0,60.000000,20140603
407,750440,1.0,17.0,07:40:00,23:41:00,61.0,60.0,60.090909,20140603
408,750448,1.0,21.0,06:28:00,19:43:00,60.0,30.0,40.882353,20140603
409,750449,16.0,289.0,06:23:00,23:50:00,15.0,0.0,3.042735,20140603
410,750450,6.0,101.0,06:40:00,23:40:00,15.0,0.0,8.470588,20140603
411,750452,5.0,81.0,06:28:00,23:40:00,20.0,2.0,11.803279,20140603
412,750453,5.0,74.0,06:23:00,23:38:00,25.0,5.0,11.694915,20140603
413,750454,2.0,28.0,06:46:00,22:15:00,30.0,29.0,29.954545,20140603
414,750455,1.0,15.0,08:21:00,22:21:00,60.0,60.0,60.000000,20140603
415,750456,8.0,125.0,06:25:00,23:39:00,23.0,0.0,6.663462,20140603

In [ ]:
trip_stats = feed.compute_trip_stats()
feed = feed.append_dist_to_stop_times(trip_stats)

# Load screen line
with (DATA_DIR/'cairns_screen_line.geojson').open() as src:
    line = json.load(src)
    line = sg.shape(line['features'][0]['geometry'])

In [ ]:
f = feed.compute_screen_line_counts(line, dates[:7])
f[f['crossing_time'] < '06:00:00']

In [ ]:
feed.compute_feed_time_series(ts, dates[-2:], freq='12H')

In [ ]:
sd = False
#%time p1 = proto1(feed, ts, dates[:14], split_directions=sd)
%time p2 = proto2(feed, [dates[0], '20010101'], split_directions=sd, freq='12H')
p2

In [ ]:
feed.compute_feed_stats(ts, dates[0])

In [ ]:
feed.describe()

In [ ]:
feed.summarize()