In [1]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

In [90]:
#path = DATA_DIR/'sample_gtfs.zip'
#path = DATA_DIR/'other_feeds'/'gtfs.zip'
path = DATA_DIR/'cairns_gtfs.zip'

print(gt.list_gtfs(path))

feed = gt.read_gtfs(path, dist_units='km')

            file_name  file_size
0  calendar_dates.txt        387
1          routes.txt       1478
2           trips.txt     143081
3           stops.txt      26183
4          agency.txt        199
5      stop_times.txt    2561019
6          shapes.txt     864694
7        calendar.txt        337

In [91]:
#feed.routes.route_type.iat[0] = 2  # Create another route type
trip_stats = feed.compute_trip_stats()

In [92]:
#dates = ["20100101"]
week = feed.get_first_week()
dates = [week[4], week[6]] #+ ["20100101"]
f = feed.compute_feed_stats(trip_stats, dates=dates, split_route_types=True)
f.T

                         0         1
route_type               3         3
num_stops              416       411
num_routes              22        14
num_trips              636       266
num_trip_starts        636       266
num_trip_ends          617       263
service_distance   14290.4   6390.85
service_duration   483.017   197.683
service_speed      29.5858   32.3287
peak_num_trips          39        17
peak_start_time   08:16:00  14:31:00
peak_end_time     08:18:00  14:37:00
date              20140530  20140601

In [102]:
freq = "6H"
sts = feed.compute_stop_time_series(dates, freq=freq, split_directions=True)
rts = feed.compute_route_time_series(trip_stats, dates, freq=freq)
fts = feed.compute_feed_time_series(trip_stats, dates, freq=freq, split_route_types=True)

In [103]:
fts

              datetime         indicator  route_type        value
0  2014-05-30 00:00:00     num_trip_ends           3    14.000000
1  2014-05-30 00:00:00   num_trip_starts           3    17.000000
2  2014-05-30 00:00:00         num_trips           3    17.000000
3  2014-05-30 00:00:00  service_distance           3   582.579000
4  2014-05-30 00:00:00  service_duration           3    12.450000
5  2014-05-30 00:00:00     service_speed           3   287.578550
6  2014-05-30 06:00:00     num_trip_ends           3   214.000000
7  2014-05-30 06:00:00   num_trip_starts           3   240.000000
8  2014-05-30 06:00:00         num_trips           3   242.000000
9  2014-05-30 06:00:00  service_distance           3  4954.224929
10 2014-05-30 06:00:00  service_duration           3   173.800000
11 2014-05-30 06:00:00     service_speed           3   463.441407
12 2014-05-30 12:00:00     num_trip_ends           3   248.000000
13 2014-05-30 12:00:00   num_trip_starts           3   253.000000
14 2014-05-30 12:00:00         num_trips           3   281.000000
15 2014-05-30 12:00:00  service_distance           3  5505.336088
16 2014-05-30 12:00:00  service_duration           3   193.216667
17 2014-05-30 12:00:00     service_speed           3   467.212136
18 2014-05-30 18:00:00     num_trip_ends           3   155.000000
19 2014-05-30 18:00:00   num_trip_starts           3   126.000000
20 2014-05-30 18:00:00         num_trips           3   160.000000
21 2014-05-30 18:00:00  service_distance           3  3248.283810
22 2014-05-30 18:00:00  service_duration           3   103.550000
23 2014-05-30 18:00:00     service_speed           3   617.509101
24 2014-05-31 00:00:00     num_trip_ends           3          NaN
25 2014-05-31 00:00:00   num_trip_starts           3          NaN
26 2014-05-31 00:00:00         num_trips           3          NaN
27 2014-05-31 00:00:00  service_distance           3          NaN
28 2014-05-31 00:00:00  service_duration           3          NaN
29 2014-05-31 00:00:00     service_speed           3          NaN
..                 ...               ...         ...          ...
42 2014-05-31 18:00:00     num_trip_ends           3          NaN
43 2014-05-31 18:00:00   num_trip_starts           3          NaN
44 2014-05-31 18:00:00         num_trips           3          NaN
45 2014-05-31 18:00:00  service_distance           3          NaN
46 2014-05-31 18:00:00  service_duration           3          NaN
47 2014-05-31 18:00:00     service_speed           3          NaN
48 2014-06-01 00:00:00     num_trip_ends           3          NaN
49 2014-06-01 00:00:00   num_trip_starts           3          NaN
50 2014-06-01 00:00:00         num_trips           3          NaN
51 2014-06-01 00:00:00  service_distance           3          NaN
52 2014-06-01 00:00:00  service_duration           3          NaN
53 2014-06-01 00:00:00     service_speed           3          NaN
54 2014-06-01 06:00:00     num_trip_ends           3          NaN
55 2014-06-01 06:00:00   num_trip_starts           3          NaN
56 2014-06-01 06:00:00         num_trips           3          NaN
57 2014-06-01 06:00:00  service_distance           3          NaN
58 2014-06-01 06:00:00  service_duration           3          NaN
59 2014-06-01 06:00:00     service_speed           3          NaN
60 2014-06-01 12:00:00     num_trip_ends           3          NaN
61 2014-06-01 12:00:00   num_trip_starts           3          NaN
62 2014-06-01 12:00:00         num_trips           3          NaN
63 2014-06-01 12:00:00  service_distance           3          NaN
64 2014-06-01 12:00:00  service_duration           3          NaN
65 2014-06-01 12:00:00     service_speed           3          NaN
66 2014-06-01 18:00:00     num_trip_ends           3          NaN
67 2014-06-01 18:00:00   num_trip_starts           3          NaN
68 2014-06-01 18:00:00         num_trips           3          NaN
69 2014-06-01 18:00:00  service_distance           3          NaN
70 2014-06-01 18:00:00  service_duration           3          NaN
71 2014-06-01 18:00:00     service_speed           3          NaN

[72 rows x 4 columns]

In [76]:
# Slicing 
display(fts.loc[:, ("num_trips", slice(None))])
display(fts.xs("num_trips", axis="columns"))

indicator           num_trips
route_type                  2      3
datetime
2014-05-30 00:00:00      23.0  233.0
2014-05-30 12:00:00      40.0  368.0
2014-05-31 00:00:00       NaN    NaN
2014-05-31 12:00:00       NaN    NaN
2014-06-01 00:00:00       9.0    NaN
2014-06-01 12:00:00      25.0    NaN

route_type              2      3
datetime
2014-05-30 00:00:00  23.0  233.0
2014-05-30 12:00:00  40.0  368.0
2014-05-31 00:00:00   NaN    NaN
2014-05-31 12:00:00   NaN    NaN
2014-06-01 00:00:00   9.0    NaN
2014-06-01 12:00:00  25.0    NaN

In [77]:
f = fts = feed.compute_feed_time_series(trip_stats, dates[:1], freq="12H", split_route_types=False)
display(f)
g = gt.unstack_time_series(f)

# columns = [c for c in g.columns if c not in ["datetime", "value"]]
# h = g.pivot_table(index="datetime", columns=columns).value.sort_index(
#     axis="columns"
# )

# hours = (h.index[1] - h.index[0]).components.hours
# if hours != 0:
#     freqy = f"{hours}H"
# else:
#     freqy = "D"

# print(freqy)

h = gt.restack_time_series(g)
h

indicator,num_trip_ends,num_trip_starts,num_trips,service_distance,service_duration,service_speed
datetime,,,,,,
2014-05-30 00:00:00,228,257,256,5536.803929,186.250000,29.727806
2014-05-30 12:00:00,403,379,408,8753.619898,296.766667,29.496641

indicator,num_trip_ends,num_trip_starts,num_trips,service_distance,service_duration,service_speed
datetime,,,,,,
2014-05-30 00:00:00,228.0,257.0,256.0,5536.803929,186.250000,29.727806
2014-05-30 12:00:00,403.0,379.0,408.0,8753.619898,296.766667,29.496641

In [68]:
f.index

DatetimeIndex(['2014-05-26 00:00:00', '2014-05-26 12:00:00'], dtype='datetime64[ns]', name='datetime', freq='12H')

In [66]:
delta.components.hours

NameError: name 'delta' is not defined

In [ ]:
feed1 = feed.copy()
cal = feed1.calendar.copy()
cal["monday"] = 0
feed1.calendar = cal
feed1.compute_feed_time_series(trip_stats, dates, freq="12H")

In [ ]:
s1 = pd.Series({"hello": 12, "goodbye": 13})
s2 = s1.copy()
pd.DataFrame([s1, s2])

In [ ]:
feed.compute_stop_stats(['20140601', '20140603'])

In [ ]:
trip_stats = feed.compute_trip_stats()
feed = feed.append_dist_to_stop_times(trip_stats)

# Load screen line
with (DATA_DIR/'cairns_screen_line.geojson').open() as src:
    line = json.load(src)
    line = sg.shape(line['features'][0]['geometry'])

In [ ]:
f = feed.compute_screen_line_counts(line, dates[:7])
f[f['crossing_time'] < '06:00:00']

In [ ]:
feed.compute_feed_time_series(ts, dates[-2:], freq='12H')

In [ ]:
sd = False
#%time p1 = proto1(feed, ts, dates[:14], split_directions=sd)
%time p2 = proto2(feed, [dates[0], '20010101'], split_directions=sd, freq='12H')
p2

In [ ]:
feed.compute_feed_stats(ts, dates[0])

In [ ]:
feed.describe()

In [ ]:
feed.summarize()