In [2]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

In [3]:
path = DATA_DIR/'cairns_gtfs.zip'
#path = DATA_DIR/'other_feeds'/'gtfs.zip'
#path = DATA_DIR/'other_feeds'/'seq_20170310_gtfs.zip'
feed = gt.read_gtfs(path, dist_units='km')

# Pick date
date = feed.get_first_week()[0]
print('date', date)

date 20140526

In [30]:
feed.validate()

,type,message,table,rows
0,warning,Feed expired,calendar/calendar_dates,[]
1,warning,"Repeated pair (trip_id, departure_time)",stop_times,"[17710, 17722, 17730, 17732, 17736, 17739, 177..."

In [37]:
import zipfile

    
def summarize(feed, table=None):
    """
    """
    if table is not None:
        tables = [table]
    else:
        tables = gt.GTFS_REF.table.unique()
    
    frames = []
    for table in tables:
        f = getattr(feed, table)
        if f is None:
            continue
        
        def my_agg(col):
            d = {}
            d['column'] = col.name
            d['#values'] = col.size
            d['#nonnull_values'] = col.count()
            d['#unique_values'] = col.nunique()
            d['min_value'] = col.dropna().min()
            d['max_value'] = col.dropna().max()
            return pd.Series(d)
        
        g = f.apply(my_agg).T.reset_index(drop=True)
        g['table'] = table
        frames.append(g)
        
    cols = ['table', 'column', '#values', '#nonnull_values', '#unique_values', 
      'min_value', 'max_value']
    
    if not frames:
        f = pd.DataFrame(columns=cols)
    else:
        f = pd.concat(frames)
        # Rearrange columns
        f = f[cols].copy()

    return f

# Test some
list_gtfs(path)
summarize(feed)

,table,column,#values,#nonnull_values,#unique_values,min_value,max_value
0,agency,agency_name,1,1,1,Department of Transport and Main Roads - Trans...,Department of Transport and Main Roads - Trans...
1,agency,agency_url,1,1,1,http://www.sunbus.com.au,http://www.sunbus.com.au
2,agency,agency_timezone,1,1,1,Australia/Brisbane,Australia/Brisbane
3,agency,agency_lang,1,1,1,en,en
4,agency,agency_phone,1,1,1,(07)40576411,(07)40576411
0,calendar,service_id,4,4,4,CNS2014-CNS_MUL-Saturday-00,CNS2014-CNS_MUL-Weekday-00-0000100
1,calendar,monday,4,4,2,0,1
2,calendar,tuesday,4,4,2,0,1
3,calendar,wednesday,4,4,2,0,1
4,calendar,thursday,4,4,2,0,1
5,calendar,friday,4,4,2,0,1
6,calendar,saturday,4,4,2,0,1
7,calendar,sunday,4,4,2,0,1
8,calendar,start_date,4,4,4,20140526,20140601
9,calendar,end_date,4,4,3,20141226,20141228
0,calendar_dates,service_id,9,9,3,CNS2014-CNS_MUL-Sunday-00,CNS2014-CNS_MUL-Weekday-00-0000100
1,calendar_dates,date,9,9,4,20140609,20141226
2,calendar_dates,exception_type,9,9,2,1,2
0,routes,route_id,22,22,22,110-423,150E-423
1,routes,route_short_name,22,22,22,110,150E
2,routes,route_long_name,22,22,17,City - Earlville via Mooroobool,Yorkeys Knob - Smithfield via JCU
3,routes,route_desc,22,0,0,NaN,NaN
4,routes,route_type,22,22,1,3,3
5,routes,route_url,22,0,0,NaN,NaN
6,routes,route_color,22,22,1,7BC142,7BC142
7,routes,route_text_color,22,22,1,000000,000000
0,shapes,shape_id,22784,22784,54,1100015,150E0009
1,shapes,shape_pt_lat,22784,22784,3912,-17.105,-16.7413
2,shapes,shape_pt_lon,22784,22784,3820,145.662,145.787
3,shapes,shape_pt_sequence,22784,22784,2964,10001,510010
0,stops,stop_id,416,416,416,750000,750456
1,stops,stop_code,416,0,0,NaN,NaN
2,stops,stop_name,416,416,398,Abbott St C17,Yorkeys Knob N33
3,stops,stop_desc,416,0,0,NaN,NaN
4,stops,stop_lat,416,416,416,-17.1041,-16.7435
5,stops,stop_lon,416,416,415,145.663,145.786
6,stops,zone_id,416,0,0,NaN,NaN
7,stops,stop_url,416,0,0,NaN,NaN
8,stops,location_type,416,416,1,0,0
9,stops,parent_station,416,0,0,NaN,NaN
0,stop_times,trip_id,37790,37790,1339,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4180831
1,stop_times,arrival_time,37790,37725,1387,05:34:00,29:39:00
2,stop_times,departure_time,37790,37725,1387,05:34:00,29:39:00
3,stop_times,stop_id,37790,37790,416,750000,750456
4,stop_times,stop_sequence,37790,37790,52,1,52
5,stop_times,pickup_type,37790,37790,2,0,1
6,stop_times,drop_off_type,37790,37790,2,0,1
0,trips,route_id,1339,1339,22,110-423,150E-423
1,trips,service_id,1339,1339,4,CNS2014-CNS_MUL-Saturday-00,CNS2014-CNS_MUL-Weekday-00-0000100
2,trips,trip_id,1339,1339,1339,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4180831
3,trips,trip_headsign,1339,1339,15,Edmonton (Farmer St),Woree (Coconut Village)
4,trips,direction_id,1339,1339,2,0,1
5,trips,block_id,1339,0,0,NaN,NaN
6,trips,shape_id,1339,1339,54,1100015,150E0009

In [15]:
s = feed.routes.route_type
s.count()

22

In [60]:
feed.stops

,stop_id,stop_code,stop_name,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,0005AMB,NaN,Ambassadeur,-1.285963,36.826048,NaN,NaN,1,
1,0006BSS,NaN,Bus Station,-1.287191,36.828881,NaN,NaN,1,
2,0007COM,NaN,Commercial,-1.284282,36.826188,NaN,NaN,1,
3,0512BST,NaN,Bus Station,-1.287281,36.828863,NaN,NaN,,0006BSS
4,0512BSN,NaN,Bus Station,-1.287635,36.829215,NaN,NaN,,0006BSS
5,0512BSL,NaN,Bus Station,-1.287229,36.829477,NaN,NaN,,0006BSS
6,0512CML,NaN,Commercial Imara,-1.284306,36.826257,NaN,NaN,,0007COM
7,0512CMC,NaN,Commercial,-1.283947,36.826437,NaN,NaN,,0007COM
8,0512AMU,NaN,Ambassadeur,-1.285315,36.825615,NaN,NaN,,
9,0512ESC,NaN,Easy Coach/Uchumi,-1.289218,36.828251,NaN,NaN,,
10,0512EAS,NaN,Easy Coach/Uchumi,-1.288854,36.828734,NaN,NaN,,
11,0001RLW,NaN,Railways Terminus,-1.290884,36.828242,NaN,NaN,1,
12,0512RLW,NaN,Railways,-1.290352,36.828268,NaN,NaN,,0001RLW
13,0513KWR,NaN,Kware,-1.396812,36.750240,NaN,NaN,,
14,0412KNC,NaN,Kencom,-1.285890,36.824290,NaN,NaN,,
15,6050GPO,NaN,GPO,-1.286040,36.818211,NaN,NaN,,
16,0502AMB,NaN,Ambassadeur,-1.285400,36.825803,NaN,NaN,,
17,0501KPU,NaN,Kenya Polytechnic Bus Stop,-1.292001,36.822352,NaN,NaN,,
18,0501KBL,NaN,Kobil Haile Selassie,-1.293350,36.820878,NaN,NaN,,
19,0501KAB,NaN,Makaburini,-1.299550,36.824716,NaN,NaN,,
20,0511NYS,NaN,Nyayo Stadium/Nairobi West Stage,-1.305554,36.825028,NaN,NaN,,
21,0501WEB,NaN,West End Bar/Barclays,-1.307340,36.823660,NaN,NaN,,
22,0511NWT,NaN,Nairobi West Stage,-1.307386,36.822896,NaN,NaN,,
23,0501DSC,NaN,Discount,-1.307496,36.822293,NaN,NaN,,
24,0501WEM,NaN,West Mall,-1.309390,36.822250,NaN,NaN,,
25,0501MIL,NaN,Miller Estate,-1.311740,36.820040,NaN,NaN,,
26,0501CIV,NaN,Civil Servants,-1.312130,36.819270,NaN,NaN,,
27,0501MOE,NaN,Moi Educational Centre,-1.313370,36.818980,NaN,NaN,,
28,0501KSB,NaN,Kenya Society For The Blind,-1.314250,36.818310,NaN,NaN,,
29,0501SPR,NaN,Space Apartments,-1.313970,36.817820,NaN,NaN,,
...,...,...,...,...,...,...,...,...,...
2451,0201EBR,NaN,Roundabout,-1.154860,36.926145,NaN,NaN,,
2452,0201KTJ,NaN,Junction,-1.151919,36.919517,NaN,NaN,,
2453,0211PRS,NaN,Prison,-1.151880,36.929416,NaN,NaN,,
2454,0211RUI,NaN,Ruiru,-1.147707,36.959362,NaN,NaN,,
2455,0210PRS,NaN,Prison,-1.151878,36.928673,NaN,NaN,,
2456,0200KTJ,NaN,Junction,-1.152403,36.919994,NaN,NaN,,
2457,0200EBR,NaN,Roundabout,-1.154988,36.926973,NaN,NaN,,
2458,0210MBL,NaN,Membley,-1.156222,36.930358,NaN,NaN,,
2459,0210KWD,NaN,Kwa Dogi,-1.156930,36.932686,NaN,NaN,,
2460,0200MBC,NaN,Membley Church,-1.159048,36.939119,NaN,NaN,,
2461,0200TRT,NaN,Torrents,-1.158861,36.938758,NaN,NaN,,
2462,0210TRT,NaN,Torrents,-1.160577,36.944155,NaN,NaN,,
2463,0200SPH,NaN,Super High Way,-1.164170,36.955538,NaN,NaN,,
2464,0101MIM,NaN,Mimosa,-1.212005,36.804767,NaN,NaN,,
2465,0101RUD,NaN,Runda Road,-1.215523,36.815038,NaN,NaN,,
2466,0101BKH,NaN,Bypass Stage Kiambu,-1.215448,36.835210,NaN,NaN,,
2467,0101WID,NaN,Windsor Advice,-1.215566,36.850327,NaN,NaN,,
2468,0101DGG,NaN,Ridgesways Girls,-1.215046,36.864683,NaN,NaN,,
2469,0101JLI,NaN,Jua Kali,-1.211161,36.874486,NaN,NaN,,
2470,0101KHR,NaN,Kahawa Railways Roundabout,-1.185664,36.906667,NaN,NaN,,
2471,0101NRP,NaN,Round A Bout Eastern Bypass,-1.155165,36.926129,NaN,NaN,,
2472,0101RJI,NaN,Ruiru Road Junction,-1.152135,36.919840,NaN,NaN,,
2473,0111RPS,NaN,Ruiru Prisons,-1.151827,36.929292,NaN,NaN,,
2474,0110RPS,NaN,Ruiru Prisons,-1.151888,36.929530,NaN,NaN,,
2475,0100RJI,NaN,Ruiru Road Junction,-1.152181,36.919882,NaN,NaN,,
2476,0100NRP,NaN,Round A Bout Eastern Bypass,-1.155235,36.926119,NaN,NaN,,
2477,0100KHR,NaN,Kahawa Railways Roundabout,-1.186098,36.906817,NaN,NaN,,
2478,0100JLI,NaN,Jua Kali,-1.211080,36.874725,NaN,NaN,,
2479,0100BKH,NaN,Bypass Stage Kiambu,-1.215510,36.835114,NaN,NaN,,
2480,0100RUD,NaN,Runda Road,-1.215553,36.814957,NaN,NaN,,

In [10]:
feed.stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,8669735,7:09:00,7:09:00,55,1,NaN,0,0,NaN
1,8669735,7:10:50,7:10:50,56,2,NaN,0,0,0.3092
2,8669735,7:12:00,7:12:00,57,3,NaN,0,0,0.5052
3,8669735,7:13:14,7:13:14,58,4,NaN,0,0,0.7143
4,8669735,7:14:20,7:14:20,59,5,NaN,0,0,0.9004
5,8669735,7:15:00,7:15:00,60,6,NaN,0,0,1.0071
6,8669735,7:15:39,7:15:39,61,7,NaN,0,0,1.1881
7,8669735,7:16:20,7:16:20,62,8,NaN,0,0,1.3772
8,8669735,7:16:41,7:16:41,63,9,NaN,0,0,1.4773
9,8669735,7:17:21,7:17:21,64,10,NaN,0,0,1.6603
10,8669735,7:19:03,7:19:03,12040,11,NaN,0,0,2.1283
11,8669735,7:19:39,7:19:39,66,12,NaN,0,0,2.2953
12,8669735,7:20:16,7:20:16,10542,13,NaN,0,0,2.4674
13,8669735,7:20:54,7:20:54,68,14,NaN,0,0,2.6425
14,8669735,7:21:32,7:21:32,69,15,NaN,0,0,2.8195
15,8669735,7:22:09,7:22:09,70,16,NaN,0,0,2.9916
16,8669735,7:22:47,7:22:47,71,17,NaN,0,0,3.1686
17,8669735,7:23:26,7:23:26,72,18,NaN,0,0,3.3497
18,8669735,7:29:02,7:29:02,75,19,NaN,0,0,4.8874
19,8669735,7:30:05,7:30:05,11881,20,NaN,0,0,5.1794
20,8669735,7:30:25,7:30:25,29,21,NaN,0,0,5.2742
21,8669735,7:31:41,7:31:41,30,22,NaN,0,0,5.6229
22,8669735,7:32:18,7:32:18,31,23,NaN,0,0,5.7926
23,8669735,7:33:29,7:33:29,1857,24,NaN,1,0,6.1204
24,8669735,7:34:00,7:34:00,1856,25,NaN,1,0,6.2146
25,8669736,7:43:00,7:43:00,55,1,NaN,0,0,NaN
26,8669736,7:45:08,7:45:08,56,2,NaN,0,0,0.3092
27,8669736,7:46:29,7:46:29,57,3,NaN,0,0,0.5052
28,8669736,7:47:56,7:47:56,58,4,NaN,0,0,0.7143
29,8669736,7:49:13,7:49:13,59,5,NaN,0,0,0.9004
...,...,...,...,...,...,...,...,...,...
2378598,8670296,21:21:01,21:21:01,9981,13,NaN,0,0,4.6007
2378599,8670296,21:21:30,21:21:30,3929,14,NaN,0,0,4.7517
2378600,8670296,21:22:18,21:22:18,9418,15,NaN,0,0,4.9981
2378601,8670296,21:23:03,21:23:03,3908,16,NaN,0,0,5.2262
2378602,8670296,21:23:58,21:23:58,9714,17,NaN,0,0,5.5088
2378603,8670296,21:25:16,21:25:16,8432,18,NaN,0,0,5.9043
2378604,8670296,21:26:40,21:26:40,3973,19,NaN,0,0,6.3313
2378605,8670296,21:27:39,21:27:39,3974,20,NaN,0,0,6.6323
2378606,8670296,21:30:00,21:30:00,3904,21,NaN,1,0,7.2989
2378607,8670297,21:36:00,21:36:00,12217,1,NaN,0,0,NaN
2378608,8670297,21:37:15,21:37:15,12295,2,NaN,0,0,0.3809
2378609,8670297,21:38:08,21:38:08,12296,3,NaN,0,0,0.6516
2378610,8670297,21:39:39,21:39:39,12297,4,NaN,0,0,1.1167
2378611,8670297,21:40:18,21:40:18,12298,5,NaN,0,0,1.3157
2378612,8670297,21:40:56,21:40:56,12299,6,NaN,0,0,1.5117
2378613,8670297,21:41:35,21:41:35,11958,7,NaN,0,0,1.7127
2378614,8670297,21:43:20,21:43:20,3842,8,NaN,0,0,2.2480
2378615,8670297,21:45:21,21:45:21,11957,9,NaN,0,0,2.8654
2378616,8670297,21:48:20,21:48:20,11959,10,NaN,0,0,3.7735
2378617,8670297,21:48:59,21:48:59,11557,11,NaN,0,0,3.9755
2378618,8670297,21:50:21,21:50:21,10592,12,NaN,0,0,4.3931
2378619,8670297,21:51:01,21:51:01,9981,13,NaN,0,0,4.6007
2378620,8670297,21:51:30,21:51:30,3929,14,NaN,0,0,4.7517
2378621,8670297,21:52:18,21:52:18,9418,15,NaN,0,0,4.9981
2378622,8670297,21:53:03,21:53:03,3908,16,NaN,0,0,5.2262
2378623,8670297,21:53:58,21:53:58,9714,17,NaN,0,0,5.5088
2378624,8670297,21:55:16,21:55:16,8432,18,NaN,0,0,5.9043
2378625,8670297,21:56:40,21:56:40,3973,19,NaN,0,0,6.3313
2378626,8670297,21:57:39,21:57:39,3974,20,NaN,0,0,6.6323
2378627,8670297,22:00:00,22:00:00,3904,21,NaN,1,0,7.2989

In [ ]:
g.groupby(['route_id', 'orientation']).count()