In [ ]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

In [2]:
#path = DATA_DIR/'sample_gtfs.zip'
#path = DATA_DIR/'other_feeds'/'gtfs.zip'
path = DATA_DIR/'cairns_gtfs.zip'

print(gt.list_gtfs(path))

feed = gt.read_gtfs(path, dist_units='km')

            file_name  file_size
0  calendar_dates.txt        387
1          routes.txt       1478
2           trips.txt     143081
3           stops.txt      26183
4          agency.txt        199
5      stop_times.txt    2561019
6          shapes.txt     864694
7        calendar.txt        337

In [3]:
feed.summarize()

,table,column,num_values,num_nonnull_values,num_unique_values,min_value,max_value
0,agency,agency_name,1,1,1,Department of Transport and Main Roads - Trans...,Department of Transport and Main Roads - Trans...
1,agency,agency_url,1,1,1,http://www.sunbus.com.au,http://www.sunbus.com.au
2,agency,agency_timezone,1,1,1,Australia/Brisbane,Australia/Brisbane
3,agency,agency_lang,1,1,1,en,en
4,agency,agency_phone,1,1,1,(07)40576411,(07)40576411
0,calendar,service_id,4,4,4,CNS2014-CNS_MUL-Saturday-00,CNS2014-CNS_MUL-Weekday-00-0000100
1,calendar,monday,4,4,2,0,1
2,calendar,tuesday,4,4,2,0,1
3,calendar,wednesday,4,4,2,0,1
4,calendar,thursday,4,4,2,0,1
5,calendar,friday,4,4,2,0,1
6,calendar,saturday,4,4,2,0,1
7,calendar,sunday,4,4,2,0,1
8,calendar,start_date,4,4,4,20140526,20140601
9,calendar,end_date,4,4,3,20141226,20141228
0,calendar_dates,service_id,9,9,3,CNS2014-CNS_MUL-Sunday-00,CNS2014-CNS_MUL-Weekday-00-0000100
1,calendar_dates,date,9,9,4,20140609,20141226
2,calendar_dates,exception_type,9,9,2,1,2
0,routes,route_id,22,22,22,110-423,150E-423
1,routes,route_short_name,22,22,22,110,150E
2,routes,route_long_name,22,22,17,City - Earlville via Mooroobool,Yorkeys Knob - Smithfield via JCU
3,routes,route_desc,22,0,0,NaN,NaN
4,routes,route_type,22,22,1,3,3
5,routes,route_url,22,0,0,NaN,NaN
6,routes,route_color,22,22,1,7BC142,7BC142
7,routes,route_text_color,22,22,1,000000,000000
0,shapes,shape_id,22784,22784,54,1100015,150E0009
1,shapes,shape_pt_lat,22784,22784,3912,-17.105,-16.7413
2,shapes,shape_pt_lon,22784,22784,3820,145.662,145.787
3,shapes,shape_pt_sequence,22784,22784,2964,10001,510010
0,stops,stop_id,416,416,416,750000,750456
1,stops,stop_code,416,0,0,NaN,NaN
2,stops,stop_name,416,416,398,Abbott St C17,Yorkeys Knob N33
3,stops,stop_desc,416,0,0,NaN,NaN
4,stops,stop_lat,416,416,416,-17.1041,-16.7435
5,stops,stop_lon,416,416,415,145.663,145.786
6,stops,zone_id,416,0,0,NaN,NaN
7,stops,stop_url,416,0,0,NaN,NaN
8,stops,location_type,416,416,1,0,0
9,stops,parent_station,416,0,0,NaN,NaN
0,stop_times,trip_id,37790,37790,1339,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4180831
1,stop_times,arrival_time,37790,37725,1387,05:34:00,29:39:00
2,stop_times,departure_time,37790,37725,1387,05:34:00,29:39:00
3,stop_times,stop_id,37790,37790,416,750000,750456
4,stop_times,stop_sequence,37790,37790,52,1,52
5,stop_times,pickup_type,37790,37790,2,0,1
6,stop_times,drop_off_type,37790,37790,2,0,1
0,trips,route_id,1339,1339,22,110-423,150E-423
1,trips,service_id,1339,1339,4,CNS2014-CNS_MUL-Saturday-00,CNS2014-CNS_MUL-Weekday-00-0000100
2,trips,trip_id,1339,1339,1339,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4180831
3,trips,trip_headsign,1339,1339,15,Edmonton (Farmer St),Woree (Coconut Village)
4,trips,direction_id,1339,1339,2,0,1
5,trips,block_id,1339,0,0,NaN,NaN
6,trips,shape_id,1339,1339,54,1100015,150E0009

In [24]:
dates = feed.get_first_week()[6:]
feed1 = feed.restrict_to_dates(["20180101"])
feed1.routes

Empty DataFrame
Columns: [route_id, route_short_name, route_long_name, route_desc, route_type, route_url, route_color, route_text_color]
Index: []

In [ ]:
f = gt.build_null_route_time_series(feed, dates[0], freq='12H', split_directions=True)
f

In [ ]:
#f = feed.compute_stop_time_series(dates[:3], split_directions=True, freq='12H')
#f = feed.compute_route_time_series(trip_stats, dates[:1], freq='12H', split_directions=True)
f = feed.compute_feed_time_series(trip_stats, dates[:1], freq='12H')
#f.columns
pd.isnull(f.values).all()

In [ ]:
ts = feed.compute_route_time_series(trip_stats, dates[0], freq='6H')
# inds = ['num_trips', 'num_trip_ends', 'num_trip_starts']
# rids = ['110-423', '111-423', '112-423']

# ts.loc[:, (inds, rids)]

#ts = feed.compute_feed_time_series(trip_stats, [dates[0], dates[2]], freq='6H')
# ts = feed.compute_stop_time_series([dates[0], dates[2]], freq='6H')
# sid = '750015'
# ts.loc[:, ('num_trips', sid)]

ts

In [ ]:
ts.columns

In [ ]:
dts = gt.downsample(ts, freq='D')
#dts.loc[:, (inds, rids)]
#dts.loc[:, ('num_trips', sid)]
dts

In [ ]:
f = feed.compute_feed_stats(trip_stats, '2001')
f

In [ ]:
f.date

In [ ]:
feed.compute_stop_stats(['20140601', '20140603'])

In [ ]:
trip_stats = feed.compute_trip_stats()
feed = feed.append_dist_to_stop_times(trip_stats)

# Load screen line
with (DATA_DIR/'cairns_screen_line.geojson').open() as src:
    line = json.load(src)
    line = sg.shape(line['features'][0]['geometry'])

In [ ]:
f = feed.compute_screen_line_counts(line, dates[:7])
f[f['crossing_time'] < '06:00:00']

In [ ]:
feed.compute_feed_time_series(ts, dates[-2:], freq='12H')

In [ ]:
sd = False
#%time p1 = proto1(feed, ts, dates[:14], split_directions=sd)
%time p2 = proto2(feed, [dates[0], '20010101'], split_directions=sd, freq='12H')
p2

In [ ]:
feed.compute_feed_stats(ts, dates[0])

In [ ]:
feed.describe()

In [ ]:
feed.summarize()