In [1]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

In [14]:
#path = DATA_DIR/'cairns_gtfs.zip'
#path = DATA_DIR/'other_feeds'/'gtfs.zip'
path = DATA_DIR/'other_feeds'/'seq_20170310_gtfs.zip'
feed = gt.read_gtfs(path, dist_units='km')

# Pick date
date = feed.get_first_week()[0]
print('date', date)

date 20170313

In [15]:
v = gt.time_it(feed.validate)()
v

Timing validate
2017-04-16 20:32:46.803748 Began process
2017-04-16 20:33:08.833149 Finished in 0.37 min

,type,message,table,rows
0,warning,"Duplicate (route_short_name, route_long_name) ...",routes,"[1, 3, 5, 7, 9, 11, 13, 15, 17, 22, 24, 26, 28..."
3,warning,"Duplicate (trip_id, departure_time) pair",stop_times,"[8, 23, 42, 44, 51, 61, 63, 70, 2411069, 24110..."
1,warning,platform_code is not a valid column name,stops,[]
2,warning,Stop has no stop times,stops,"[12661, 12662, 12663, 12664, 12665, 12666, 126..."

In [10]:
feed.stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,8669735,7:09:00,7:09:00,55,1,NaN,0,0,NaN
1,8669735,7:10:50,7:10:50,56,2,NaN,0,0,0.3092
2,8669735,7:12:00,7:12:00,57,3,NaN,0,0,0.5052
3,8669735,7:13:14,7:13:14,58,4,NaN,0,0,0.7143
4,8669735,7:14:20,7:14:20,59,5,NaN,0,0,0.9004
5,8669735,7:15:00,7:15:00,60,6,NaN,0,0,1.0071
6,8669735,7:15:39,7:15:39,61,7,NaN,0,0,1.1881
7,8669735,7:16:20,7:16:20,62,8,NaN,0,0,1.3772
8,8669735,7:16:41,7:16:41,63,9,NaN,0,0,1.4773
9,8669735,7:17:21,7:17:21,64,10,NaN,0,0,1.6603
10,8669735,7:19:03,7:19:03,12040,11,NaN,0,0,2.1283
11,8669735,7:19:39,7:19:39,66,12,NaN,0,0,2.2953
12,8669735,7:20:16,7:20:16,10542,13,NaN,0,0,2.4674
13,8669735,7:20:54,7:20:54,68,14,NaN,0,0,2.6425
14,8669735,7:21:32,7:21:32,69,15,NaN,0,0,2.8195
15,8669735,7:22:09,7:22:09,70,16,NaN,0,0,2.9916
16,8669735,7:22:47,7:22:47,71,17,NaN,0,0,3.1686
17,8669735,7:23:26,7:23:26,72,18,NaN,0,0,3.3497
18,8669735,7:29:02,7:29:02,75,19,NaN,0,0,4.8874
19,8669735,7:30:05,7:30:05,11881,20,NaN,0,0,5.1794
20,8669735,7:30:25,7:30:25,29,21,NaN,0,0,5.2742
21,8669735,7:31:41,7:31:41,30,22,NaN,0,0,5.6229
22,8669735,7:32:18,7:32:18,31,23,NaN,0,0,5.7926
23,8669735,7:33:29,7:33:29,1857,24,NaN,1,0,6.1204
24,8669735,7:34:00,7:34:00,1856,25,NaN,1,0,6.2146
25,8669736,7:43:00,7:43:00,55,1,NaN,0,0,NaN
26,8669736,7:45:08,7:45:08,56,2,NaN,0,0,0.3092
27,8669736,7:46:29,7:46:29,57,3,NaN,0,0,0.5052
28,8669736,7:47:56,7:47:56,58,4,NaN,0,0,0.7143
29,8669736,7:49:13,7:49:13,59,5,NaN,0,0,0.9004
...,...,...,...,...,...,...,...,...,...
2378598,8670296,21:21:01,21:21:01,9981,13,NaN,0,0,4.6007
2378599,8670296,21:21:30,21:21:30,3929,14,NaN,0,0,4.7517
2378600,8670296,21:22:18,21:22:18,9418,15,NaN,0,0,4.9981
2378601,8670296,21:23:03,21:23:03,3908,16,NaN,0,0,5.2262
2378602,8670296,21:23:58,21:23:58,9714,17,NaN,0,0,5.5088
2378603,8670296,21:25:16,21:25:16,8432,18,NaN,0,0,5.9043
2378604,8670296,21:26:40,21:26:40,3973,19,NaN,0,0,6.3313
2378605,8670296,21:27:39,21:27:39,3974,20,NaN,0,0,6.6323
2378606,8670296,21:30:00,21:30:00,3904,21,NaN,1,0,7.2989
2378607,8670297,21:36:00,21:36:00,12217,1,NaN,0,0,NaN
2378608,8670297,21:37:15,21:37:15,12295,2,NaN,0,0,0.3809
2378609,8670297,21:38:08,21:38:08,12296,3,NaN,0,0,0.6516
2378610,8670297,21:39:39,21:39:39,12297,4,NaN,0,0,1.1167
2378611,8670297,21:40:18,21:40:18,12298,5,NaN,0,0,1.3157
2378612,8670297,21:40:56,21:40:56,12299,6,NaN,0,0,1.5117
2378613,8670297,21:41:35,21:41:35,11958,7,NaN,0,0,1.7127
2378614,8670297,21:43:20,21:43:20,3842,8,NaN,0,0,2.2480
2378615,8670297,21:45:21,21:45:21,11957,9,NaN,0,0,2.8654
2378616,8670297,21:48:20,21:48:20,11959,10,NaN,0,0,3.7735
2378617,8670297,21:48:59,21:48:59,11557,11,NaN,0,0,3.9755
2378618,8670297,21:50:21,21:50:21,10592,12,NaN,0,0,4.3931
2378619,8670297,21:51:01,21:51:01,9981,13,NaN,0,0,4.6007
2378620,8670297,21:51:30,21:51:30,3929,14,NaN,0,0,4.7517
2378621,8670297,21:52:18,21:52:18,9418,15,NaN,0,0,4.9981
2378622,8670297,21:53:03,21:53:03,3908,16,NaN,0,0,5.2262
2378623,8670297,21:53:58,21:53:58,9714,17,NaN,0,0,5.5088
2378624,8670297,21:55:16,21:55:16,8432,18,NaN,0,0,5.9043
2378625,8670297,21:56:40,21:56:40,3973,19,NaN,0,0,6.3313
2378626,8670297,21:57:39,21:57:39,3974,20,NaN,0,0,6.6323
2378627,8670297,22:00:00,22:00:00,3904,21,NaN,1,0,7.2989

In [ ]:
f[['arrival_time', 'departure_time']].iloc[5].isnull().any()

In [ ]:
f = feed.stop_times.copy()
f

In [ ]:
feed.agency.columns

In [ ]:
feed.describe()

In [ ]:
report = feed.validate()

In [ ]:
report

In [ ]:
f = feed.stop_times.copy()
i = 10
f.ix[9:11]

In [ ]:
feed.assess()

In [ ]:
ts = feed.compute_trip_stats()
#ts.to_csv(str(DATA_DIR/'cairns_trip_stats.csv'), index=False)
ts.head()

In [ ]:
rts = feed.compute_route_time_series(ts, date)
gt.downsample(rts, freq='12H')

In [ ]:
trip_id = feed.trips['trip_id'].iat[0]
geo = feed.trip_to_geojson(trip_id, include_stops=True)
path = DATA_DIR/'trip_{!s}.geojson'.format(route_id)
with path.open('w') as tgt:
    json.dump(geo, tgt)

In [ ]:
route_id = feed.routes['route_id'].iat[0]
geo = feed.route_to_geojson(route_id, include_stops=True)
path = DATA_DIR/'route_{!s}.geojson'.format(route_id)
with path.open('w') as tgt:
    json.dump(geo, tgt)

In [ ]:
# Add distances to feed
#
trip_stats = feed.compute_trip_stats(compute_dist_from_shapes=True)
feed = feed.append_dist_to_stop_times(trip_stats)
feed.stop_times.T

In [ ]:
trip_stats = feed.compute_trip_stats()
route_stats = feed.compute_route_stats(trip_stats, date)
route_stats

In [ ]:
a = pd.Series([np.nan, np.nan])
a.dropna().max()
#gt.get_trips(feed, date, "07:30:00")

In [ ]:

# Pick screen line
path = DATA_DIR/'cairns_screen_line.geojson'
with path.open() as src:
    line = json.load(src)
    line = sg.shape(line['features'][0]['geometry'])

g = feed.compute_screen_line_counts(line, date)
g

In [ ]:
g.groupby(['route_id', 'orientation']).count()