In [19]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd

import pandas as pd
import numpy as np

gtfstk_dir = '../../gtfstk/'
sys.path.append(gtfstk_dir)
import gtfstk as gt

%load_ext autoreload
%autoreload 2

data_dir = gtfstk_dir + 'data/'

Warning: matplotlib is not installed, so the plotting functions (those in module gtfstk.plotter) will not work.
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
filename = 'cairns_gtfs.zip'
#filename = 'portland_gtfs.zip'
feed = gt.read_gtfs(data_dir + filename)
feed.routes

# Set study date
date = gt.get_first_week(feed)[0]
date

'20140526'

In [10]:
ts = gt.compute_trips_stats(feed)
rs = gt.compute_routes_stats(feed, ts, date)
rs

,route_id,route_short_name,num_trips,is_loop,is_bidirectional,start_time,end_time,max_headway,min_headway,mean_headway,peak_num_trips,peak_start_time,peak_end_time,service_distance,service_duration,service_speed,mean_trip_distance,mean_trip_duration
0,110-423,110,59,0,1,05:50:00,24:02:00,35,23,29.955556,5,18:13:00,18:20:00,1894.223063,57.350000,33.029173,32.105476,0.972034
1,111-423,111,58,0,1,06:02:00,24:36:00,67,25,30.954545,5,07:57:00,08:05:00,2002.677623,59.350000,33.743515,34.528925,1.023276
2,112-423,112,15,1,0,07:55:00,22:31:00,60,60,60.000000,1,07:55:00,08:31:00,317.421880,9.000000,35.269098,21.161459,0.600000
3,113-423,113,6,0,1,06:05:00,18:42:00,60,60,60.000000,2,06:35:00,06:45:00,147.601565,3.933333,37.525822,24.600261,0.655556
4,120-423,120,32,0,1,05:34:00,22:23:00,60,60,60.000000,2,07:00:00,07:23:00,899.055146,26.633333,33.756764,28.095473,0.832292
5,120N-423,120N,2,0,0,22:00:00,23:51:00,NaN,NaN,NaN,1,22:00:00,22:51:00,81.004241,1.700000,47.649553,40.502120,0.850000
6,121-423,121,34,0,1,06:28:00,22:00:00,60,30,52.800000,3,07:46:00,07:48:00,586.058987,18.133333,32.319429,17.237029,0.533333
7,122-423,122,33,0,1,06:16:00,21:30:00,60,30,54.000000,2,07:16:00,07:30:00,541.875382,15.400000,35.186713,16.420466,0.466667
8,123-423,123,60,0,1,06:14:00,24:15:00,50,10,29.565217,3,07:10:00,07:31:00,1127.869577,40.466667,27.871571,18.797826,0.674444
9,130-423,130,33,0,1,06:04:00,23:01:00,60,60,60.000000,2,06:30:00,06:35:00,361.049921,17.050000,21.175948,10.940907,0.516667
10,131-423,131,32,0,1,06:34:00,22:31:00,60,60,60.000000,2,07:00:00,07:05:00,397.645797,16.533333,24.051157,12.426431,0.516667
11,131N-423,131N,1,0,0,23:00:00,23:31:00,NaN,NaN,NaN,1,23:00:00,23:31:00,12.434810,0.516667,24.067374,12.434810,0.516667
12,133-423,133,36,0,1,06:20:00,24:12:00,62,33,58.913043,2,07:36:00,07:59:00,576.582176,22.200000,25.972170,16.016172,0.616667
13,140-423,140,40,0,1,05:43:00,24:04:00,60,30,40.000000,4,07:43:00,08:06:00,920.877605,35.766667,25.746811,23.021940,0.894167
14,141-423,141,47,0,1,06:40:00,19:03:00,30,30,30.000000,3,07:10:00,07:20:00,635.605138,30.533333,20.816762,13.523514,0.649645
15,142-423,142,42,0,1,06:28:00,22:38:00,60,30,40.294118,4,07:58:00,08:21:00,999.742639,38.050000,26.274445,23.803396,0.905952
16,143-423,143,48,0,1,06:34:00,19:22:00,30,30,30.000000,4,07:16:00,07:22:00,897.079917,36.866667,24.333090,18.689165,0.768056
17,143W-423,143W,9,0,1,18:15:00,23:00:00,NaN,NaN,NaN,2,19:15:00,19:50:00,204.735721,6.750000,30.331218,22.748413,0.750000
18,150-423,150,27,0,1,06:23:00,19:30:00,60,30,54.782609,4,08:23:00,08:25:00,865.668383,27.433333,31.555348,32.061792,1.016049
19,150E-423,150E,8,0,1,18:15:00,23:32:00,NaN,NaN,NaN,3,20:15:00,20:22:00,304.817663,8.933333,34.121380,38.102208,1.116667

In [11]:
gt.plot_headways(rs)

Exception: matplotlib has not been imported. aborting