In [1]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd

import pandas as pd
import numpy as np

gtfstk_dir = '../../gtfstk/'
sys.path.append(gtfstk_dir)
import gtfstk as gt

%load_ext autoreload
%autoreload 2

data_dir = gtfstk_dir + 'data/'

In [5]:
from copy import copy


path = data_dir + 'cairns_gtfs.zip'
feed1 = gt.read_gtfs(path)
feed2 = copy(feed1)

feed2 = gt.create_shapes(feed1, all_trips=True)
feed1

45

      shape_id  shape_pt_sequence  shape_pt_lon  shape_pt_lat
29    shape_00                  0    145.680668    -16.790759
31    shape_00                  1    145.678743    -16.784664
33    shape_00                  2    145.682661    -16.783111
35    shape_00                  3    145.683072    -16.779088
37    shape_00                  4    145.684733    -16.788134
40    shape_00                  5    145.680737    -16.794710
42    shape_00                  6    145.687685    -16.795858
44    shape_00                  7    145.690999    -16.790495
46    shape_00                  8    145.696766    -16.787267
50    shape_00                  9    145.698902    -16.785488
52    shape_00                 10    145.696237    -16.788957
54    shape_00                 11    145.696406    -16.791482
56    shape_00                 12    145.695132    -16.793175
58    shape_00                 13    145.692773    -16.793680
60    shape_00                 14    145.690627    -16.793676
62    shape_00                 15    145.694451    -16.797804
64    shape_00                 16    145.705403    -16.802130
66    shape_00                 17    145.701800    -16.804963
68    shape_00                 18    145.693955    -16.815150
71    shape_00                 19    145.695185    -16.821132
82    shape_00                 20    145.687364    -16.818651
89    shape_00                 21    145.692420    -16.825894
98    shape_00                 22    145.692535    -16.835082
106   shape_00                 23    145.756120    -16.900102
112   shape_00                 24    145.757034    -16.902097
119   shape_00                 25    145.757823    -16.903433
127   shape_00                 26    145.759681    -16.906100
135   shape_00                 27    145.761255    -16.908493
143   shape_00                 28    145.762566    -16.910240
151   shape_00                 29    145.764233    -16.912470
...        ...                ...           ...           ...
907   shape_43                 25    145.746875    -16.976683
911   shape_43                 26    145.744074    -16.979289
913   shape_43                 27    145.746567    -16.983039
915   shape_43                 28    145.746899    -16.987470
917   shape_43                 29    145.739621    -16.990369
797   shape_44                  0    145.779070    -16.920814
801   shape_44                  1    145.777984    -16.923289
809   shape_44                  2    145.771687    -16.923480
816   shape_44                  3    145.764382    -16.925335
823   shape_44                  4    145.762367    -16.926857
830   shape_44                  5    145.759441    -16.928773
836   shape_44                  6    145.757877    -16.931380
686   shape_44                  7    145.753338    -16.933586
841   shape_44                  8    145.751365    -16.936568
848   shape_44                  9    145.748071    -16.937873
855   shape_44                 10    145.745107    -16.938903
862   shape_44                 11    145.741609    -16.941176
869   shape_44                 12    145.739956    -16.942286
878   shape_44                 13    145.739119    -16.944230
931   shape_44                 14    145.746822    -16.956578
935   shape_44                 15    145.746609    -16.961925
900   shape_44                 16    145.746908    -16.976527
904   shape_44                 17    145.751088    -16.971594
906   shape_44                 18    145.750540    -16.976585
908   shape_44                 19    145.746875    -16.976683
912   shape_44                 20    145.744074    -16.979289
914   shape_44                 21    145.746567    -16.983039
916   shape_44                 22    145.746899    -16.987470
1036  shape_44                 23    145.742876    -16.987507
919   shape_44                 24    145.739621    -16.990369

[1251 rows x 4 columns]

In [10]:
ts = gt.compute_trips_stats(feed)
rs = gt.compute_routes_stats(feed, ts, date)
rs

,route_id,route_short_name,num_trips,is_loop,is_bidirectional,start_time,end_time,max_headway,min_headway,mean_headway,peak_num_trips,peak_start_time,peak_end_time,service_distance,service_duration,service_speed,mean_trip_distance,mean_trip_duration
0,110-423,110,59,0,1,05:50:00,24:02:00,35,23,29.955556,5,18:13:00,18:20:00,1894.223063,57.350000,33.029173,32.105476,0.972034
1,111-423,111,58,0,1,06:02:00,24:36:00,67,25,30.954545,5,07:57:00,08:05:00,2002.677623,59.350000,33.743515,34.528925,1.023276
2,112-423,112,15,1,0,07:55:00,22:31:00,60,60,60.000000,1,07:55:00,08:31:00,317.421880,9.000000,35.269098,21.161459,0.600000
3,113-423,113,6,0,1,06:05:00,18:42:00,60,60,60.000000,2,06:35:00,06:45:00,147.601565,3.933333,37.525822,24.600261,0.655556
4,120-423,120,32,0,1,05:34:00,22:23:00,60,60,60.000000,2,07:00:00,07:23:00,899.055146,26.633333,33.756764,28.095473,0.832292
5,120N-423,120N,2,0,0,22:00:00,23:51:00,NaN,NaN,NaN,1,22:00:00,22:51:00,81.004241,1.700000,47.649553,40.502120,0.850000
6,121-423,121,34,0,1,06:28:00,22:00:00,60,30,52.800000,3,07:46:00,07:48:00,586.058987,18.133333,32.319429,17.237029,0.533333
7,122-423,122,33,0,1,06:16:00,21:30:00,60,30,54.000000,2,07:16:00,07:30:00,541.875382,15.400000,35.186713,16.420466,0.466667
8,123-423,123,60,0,1,06:14:00,24:15:00,50,10,29.565217,3,07:10:00,07:31:00,1127.869577,40.466667,27.871571,18.797826,0.674444
9,130-423,130,33,0,1,06:04:00,23:01:00,60,60,60.000000,2,06:30:00,06:35:00,361.049921,17.050000,21.175948,10.940907,0.516667
10,131-423,131,32,0,1,06:34:00,22:31:00,60,60,60.000000,2,07:00:00,07:05:00,397.645797,16.533333,24.051157,12.426431,0.516667
11,131N-423,131N,1,0,0,23:00:00,23:31:00,NaN,NaN,NaN,1,23:00:00,23:31:00,12.434810,0.516667,24.067374,12.434810,0.516667
12,133-423,133,36,0,1,06:20:00,24:12:00,62,33,58.913043,2,07:36:00,07:59:00,576.582176,22.200000,25.972170,16.016172,0.616667
13,140-423,140,40,0,1,05:43:00,24:04:00,60,30,40.000000,4,07:43:00,08:06:00,920.877605,35.766667,25.746811,23.021940,0.894167
14,141-423,141,47,0,1,06:40:00,19:03:00,30,30,30.000000,3,07:10:00,07:20:00,635.605138,30.533333,20.816762,13.523514,0.649645
15,142-423,142,42,0,1,06:28:00,22:38:00,60,30,40.294118,4,07:58:00,08:21:00,999.742639,38.050000,26.274445,23.803396,0.905952
16,143-423,143,48,0,1,06:34:00,19:22:00,30,30,30.000000,4,07:16:00,07:22:00,897.079917,36.866667,24.333090,18.689165,0.768056
17,143W-423,143W,9,0,1,18:15:00,23:00:00,NaN,NaN,NaN,2,19:15:00,19:50:00,204.735721,6.750000,30.331218,22.748413,0.750000
18,150-423,150,27,0,1,06:23:00,19:30:00,60,30,54.782609,4,08:23:00,08:25:00,865.668383,27.433333,31.555348,32.061792,1.016049
19,150E-423,150E,8,0,1,18:15:00,23:32:00,NaN,NaN,NaN,3,20:15:00,20:22:00,304.817663,8.933333,34.121380,38.102208,1.116667

In [11]:
gt.plot_headways(rs)

Exception: matplotlib has not been imported. aborting